ul
{
    list-style: none;
    max-width: 500px;
    margin: 0 auto;

    .article-container
    {
        display: block;
        color: unset;
        padding: 1em;
        margin-top: 1em;
        border: 1px solid var(--primary-color);
    }

    article
    {
        .title,
        .info
        {
            margin: 0;
            margin-bottom: 0.5em;
        }

        .info
        {
            font-weight: normal;
        }

        .content
        {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin: 0;
        }
    }
}
