<article *ngFor="let article of articles">
    <header>
        <a routerLink="/~{{ article.author.user.id }}" class="dark">
            {{ article.author.user.first_name }}
            {{ article.author.user.last_name }}
        </a>
        <span *ngIf="article.author.publisher.name">
            {{ "components.article_list.article.for" | translate }}
            <a routerLink="/~{{ article.author.publisher.id }}" class="dark">
                {{ article.author.publisher.name }}
            </a>
        </span>
        <br>
        <span>
            {{ format.dateTime(article.created_at, "datetime") }}
        </span>
    </header>
    <a
        routerLink="/article/{{ article.id }}"
        class="main dark"
    >
        <h2 class="title">{{ article.title }}</h2>
    </a>
    <footer>
        <div>
            <i *ngIf="article.reading_time >= 1">
                {{ article.reading_time }}
                {{ "components.article_list.article.reading_time.minutes" | translate }}
            </i>
            <i *ngIf="article.reading_time < 1">
                {{ "components.article_list.article.reading_time.less_than_a_minute" | translate }}
            </i>
        </div>
    </footer>
</article>
