<div
    *ngIf="articles"

    class="articles"
>
    <a
        *ngFor="let article of articles"

        routerLink="/article/{{article.id}}"
        class="article-container dark"
    >
        <h2 class="title">{{article.title}}</h2>
        <h5 class="info">
            <a routerLink="/~{{article.author.publisher.id}}">
                @{{article.author.publisher.name}}
            </a>
            -
            <span>
                {{article.created_at | date:"medium"}}
            </span>
        </h5>
        <p class="content">{{article.content}}</p>
    </a>
</div>
