<article *ngFor="let article of articles">
    <small class="info">
        <a routerLink="/~{{article.author.user.id}}" class="dark">
            {{article.author.user.first_name}}
            {{article.author.user.last_name}}
        </a>
        <span *ngIf="article.author.publisher.name">
            for
            <a routerLink="/~{{article.author.publisher.id}}" class="dark">
                {{article.author.publisher.name}}
            </a>
        </span>
        <br>
        <span>
            {{article.created_at | date:"medium"}}
        </span>
    </small>
    <a
        routerLink="/article/{{article.id}}"
        class="main dark"
    >
        <h2 class="title">{{article.title}}</h2>
        <p class="content">{{article.content}}</p>
    </a>
</article>
