@import "~src/variables";

:host
{
    display: block;
    max-width: 60ch;
    margin: 0 auto;
}

article
{
    border: 0.1em solid var(--primary-color);
    border-radius: 0.5em;

    .info,
    .main
    {
        display: block;
        padding: 1em;
    }

    .info
    {
        background-color: rgba($primary-color, 0.05);
    }

    .main
    {
        color: unset;

        .title,
        .content
        {
            margin: 0;
            word-break: break-word;
        }

        .content
        {
            margin-top: 0.5em;
        }
    }

    & ~ &
    {
        margin-top: 1em;
    }
}
