<section>
    <div class="title">
        <h1>{{ "organization.bundles.__title" | translate }}</h1>
        <a routerLink="bundles/create" class="button">
            {{ "generic.create" | translate }}
        </a>
    </div>
    <div class="content">
        <div *ngIf="!bundles">
            <shared-spinner></shared-spinner>
        </div>
        <div *ngIf="bundles" class="list">
            <div *ngIf="bundles.length === 0">
                <p>{{ "organization.bundles.empty" | translate }}</p>
            </div>
            <div *ngFor="let bundle of bundles" class="list-item-with-actions">
                <a routerLink="/bundle/{{ bundle.id }}">
                    <shared-badge *ngIf="!bundle.active" [text]="'organization.bundles.archived' | translate"></shared-badge>
                    <p>{{ bundle.name }}</p>
                </a>
                <shared-popup-menu theme="light">
                    <shared-danger-button
                        theme="dark"

                        [text]="'generic.archive' | translate"
                        [alertText]="'generic.archive' | translate"

                        (confirm)="archiveBundle(bundle)"
                    >
                    </shared-danger-button>
                </shared-popup-menu>
            </div>
        </div>
    </div>
</section>
