<app-header></app-header>

<organization-menu section="bundles"></organization-menu>

<main>
    <section>
        <div class="title">
            <h1>Bundles</h1>
            <button routerLink="create">
                &#43; Create
            </button>
        </div>
        <div class="content">
            <div *ngIf="!bundles">
                <spinner></spinner>
            </div>
            <div *ngIf="bundles" class="list">
                <div *ngIf="bundles.length === 0">
                    <p>You haven't created any bundle</p>
                </div>
                <a
                    *ngFor="let bundle of bundles"

                    routerLink="/bundle/{{bundle.id}}"
                    class="dark"
                >
                    <p>{{bundle.name}}</p>
                </a>
            </div>
        </div>
    </section>
</main>
