@import "~src/variables";

:host {
  display: block;
  width: 100%;
  max-width: 60ch;
  margin: 0 auto;
}

article {
  border: 0.1em solid var(--primary-color);

  $header-footer-padding: 1em;

  header,
  footer {
    font-size: small;
    padding: $header-footer-padding;
    background-color: rgba($primary-color, 0.05);
  }

  header {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;

    $publisher-image-size: 2.5rem;
    $user-image-size: 1.5rem;
    $user-image-offset: 5px;

    .publisher-image {
      height: $publisher-image-size;
      width: $publisher-image-size;
    }

    .user-image {
      height: $user-image-size;
      width: $user-image-size;
      position: absolute;
      top: calc(
        #{$header-footer-padding} + #{$publisher-image-size - $user-image-size} +
          #{$user-image-offset}
      );
      left: calc(
        #{$header-footer-padding} + #{$publisher-image-size - $user-image-size} +
          #{$user-image-offset}
      );
      border-radius: 50%;
    }
  }

  footer {
    > div {
      display: flex;
      gap: 0.5rem;
    }
  }

  .main {
    display: block;
    padding: 1em;
    color: unset;

    .title {
      margin: 0;
    }
  }

  & ~ & {
    margin-top: 1em;
  }
}
