<shared-header></shared-header>

<aside>
    <h1>Table of Contents</h1>
    <ul>
        <li>
            <a routerLink="." fragment="getting-started">Getting started</a>
            <ol>
                <li><a routerLink="." fragment="create-an-account">Create an account</a></li>
                <li><a routerLink="." fragment="create-an-organization">Create an organization</a></li>
                <li><a routerLink="." fragment="create-a-publisher">Create a publisher</a></li>
                <li><a routerLink="." fragment="verify-publisher">Verify the publisher's domain</a></li>
            </ol>
        </li>
        <li>
            <a routerLink="." fragment="add-author">Add an author</a>
            <ol>
                <li><a routerLink="." fragment="create-invite">Create an invite</a></li>
                <li><a routerLink="." fragment="wait-for-user">Wait for the user to accept the invite</a></li>
            </ol>
        </li>
        <li>
            <a routerLink="." fragment="publish-article">Publish an article</a>
            <ol>
                <li><a routerLink="." fragment="create-first-draft">Create the first draft</a></li>
            </ol>
        </li>
    </ul>
</aside>

<main>
    <h1>For publishers</h1>

    <h2 id="getting-started">Getting started</h2>

    <h3 id="create-an-account">Create an account</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae quia omnis modi voluptate itaque sunt possimus, reiciendis numquam quae consectetur?</p>

    <h3 id="create-an-organization">Create an organization</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem eius et repellendus provident tempora illo, in quaerat nemo quae!</p>

    <h3 id="create-a-publisher">Create a publisher</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sunt ullam laboriosam neque ab molestiae dignissimos sed voluptatem nobis temporibus?</p>

    <h3 id="verify-publisher">Verify the publisher's domain</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, eos soluta unde hic eaque blanditiis ducimus magni ex corrupti consequuntur?</p>

    <h2 id="add-author">Add an author</h2>

    <h3 id="create-invite">Create an invite</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium placeat et qui aspernatur provident eius consequuntur veritatis, obcaecati sunt fugiat.</p>

    <h3 id="wait-for-user">Wait for the user to accept the invite</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius labore recusandae cupiditate eveniet hic cum magnam voluptate id autem voluptatem!</p>

    <h2 id="publish-article">Publish an article</h2>

    <h3 id="create-first-draft">Create the first draft</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rerum quibusdam similique ex laborum assumenda odio eaque quasi ipsa a.</p>
</main>

<shared-footer></shared-footer>
