<shared-header></shared-header>

<aside>
    <h1>Table of Contents</h1>
    <ul>
        <li>
            <a routerLink="." fragment="getting-started">Getting started</a>
            <ul>
                <li><a routerLink="." fragment="create-an-account">Create an account</a></li>
                <li><a routerLink="." fragment="create-an-organization">Create an organization</a></li>
                <li><a routerLink="." fragment="create-a-publisher">Create a publisher</a></li>
            </ul>
        </li>
    </ul>
</aside>

<main>
    <h1>For publishers</h1>

    <h2 id="getting-started">Getting started</h2>

    <h3 id="create-an-account">Create an account</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae quia omnis modi voluptate itaque sunt possimus, reiciendis numquam quae consectetur?</p>

    <h3 id="create-an-organization">Create an organization</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas exercitationem eius et repellendus provident tempora illo, in quaerat nemo quae!</p>

    <h3 id="create-a-publisher">Create a publisher</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sunt ullam laboriosam neque ab molestiae dignissimos sed voluptatem nobis temporibus?</p>
</main>

<shared-footer></shared-footer>
