<shared-header></shared-header>

<aside>
    <shared-search-input [fill]="true"></shared-search-input>
    <section>
        <div class="title">
            Trending
        </div>
        <div class="content">
            <shared-spinner *ngIf="!trendingArticles"></shared-spinner>
            <article-list
                *ngIf="trendingArticles && trendingArticles.length > 0"

                [articles]="trendingArticles"
            >
            </article-list>
        </div>
    </section>
    <section>
        <div class="title">
            Recently viewed
        </div>
        <div class="content">
            <shared-spinner *ngIf="!recentlyViewedArticles"></shared-spinner>
            <article-list
                *ngIf="recentlyViewedArticles && recentlyViewedArticles.length > 0"

                [articles]="recentlyViewedArticles"
            >
            </article-list>
        </div>
    </section>
</aside>

<main>
    <section>
        <div class="title">
            Publishers
        </div>
        <div class="content">
            <h1
                *ngIf="!isLoadingSearchResults && publishers && publishers.length === 0"

                class="no-results"

                [innerHTML]="'explore.search.empty.publishers' | translate:{ QUERY: searchQuery }"
            >
            </h1>
            <shared-spinner *ngIf="isLoadingSearchResults"></shared-spinner>
            <div *ngIf="publishers && publishers.length > 0">
                <div class="publishers">
                    <a *ngFor="let publisher of publishers" routerLink="/~{{ publisher.id }}">
                        <shared-img *ngIf="publisher.imageUrl" [src]="publisher.imageUrl" theme="dark"></shared-img>
                        {{ publisher.name }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            Articles
        </div>
        <div class="content">
            <h1
                *ngIf="!isLoadingSearchResults && articles && articles.length === 0"

                class="no-results"

                [innerHTML]="'explore.search.empty.articles' | translate:{ QUERY: searchQuery }"
            >
            </h1>
            <shared-spinner *ngIf="isLoadingSearchResults"></shared-spinner>
            <article-list *ngIf="articles && articles.length > 0" [articles]="articles"></article-list>
        </div>
    </section>
</main>
