@import "~src/layouts/default-mobile-inverted";

@import "~src/variables";

main
{
    .no-results
    {
        margin: 0;
        text-align: center;
        font-weight: $normal;
    }
}

shared-search-input
{
    margin-bottom: 1rem;

    ::ng-deep input
    {
        width: 100%;
    }
}
