<shared-header></shared-header>

<shared-spinner *ngIf="!articles && searchQuery.trim().length > 0"></shared-spinner>

<aside>
    <section>
        <div class="title">
            Trending
        </div>
        <div class="content">
            <!-- JUST FOR TESTING -->
            <article-list [articles]="articles"></article-list>
        </div>
    </section>
</aside>

<main *ngIf="articles">
    <h1
        *ngIf="articles.length === 0 && searchQuery.trim().length > 0"

        class="no-results"

        [innerHTML]="'explore.search.empty' | translate:{ QUERY: searchQuery }"
    >
    </h1>
    <article-list [articles]="articles"></article-list>
</main>
