:host
{
    display: block;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    grid-area: header;
}

header
{
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "start end";
    align-items: center;
    gap: 1em;

    @each $section in start, center, end
    {
        .#{$section}
        {
            grid-area: $section;
        }
    }

    .logo
    {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 2em;
        width: max-content;
    }

    .center
    {
        display: flex;
        gap: 1rem;

        a
        {
            display: flex;
        }
    }

    form
    {
        max-width: unset;

        input
        {
            width: 100%;
        }
    }

    &.search-visible
    {
        grid-template-columns: auto max-content max-content;
        grid-template-areas: "start center end";
    }
}

@media (max-width: 650px)
{
    header.search-visible
    {
        grid-template-columns: auto min-content;
        grid-template-areas:
            "start end"
            "center center";
    }
}
