<header>
  <a routerLink="/" class="dark logo">
    <img
      src="{{ env.endpoints.static }}/images/logo/svg/full.svg"
      alt="nuntium"
    />
  </a>
  <div class="end">
    <a
      *ngIf="router.url === '/'"
      routerLink="/pages/for-publishers"
      class="dark for-publishers"
    >
      For publishers
    </a>
    <shared-popup-menu *ngIf="auth.user">
      <p class="user-info">
        <span *ngIf="auth.user.full_name">
          {{ auth.user.full_name }}
        </span>
        {{ auth.user.email }}
      </p>
      <a
        *ngIf="auth.user.type === 'admin'"
        class="button dark"
        routerLink="/admin"
      >
        {{ "admin.__title" | translate }}
      </a>
      <a class="button dark" routerLink="/settings">
        {{ "settings.__title" | translate }}
      </a>
      <button class="dark signout" (click)="auth.signOut()">
        {{ "generic.sign_out" | translate }}
      </button>
      <div class="legal">
        <hr />
        <div class="links">
          <a class="dark" routerLink="/pages/privacy">
            {{ "privacy.__title" | translate }}
          </a>
          &bull;
          <a class="dark" routerLink="/pages/terms">
            {{ "terms.__title" | translate }}
          </a>
        </div>
        <hr />
        <a class="dark" href="mailto:support@nuntium.space">
          {{ "generic.contact_us" | translate }}
        </a>
      </div>
    </shared-popup-menu>
    <a
      class="button dark"
      routerLink="/signin"
      *ngIf="!auth.user && !router.url.startsWith('/signin')"
    >
      {{ "generic.sign_in" | translate }}
    </a>
  </div>
</header>
