@import "~src/variables";

:host {
  display: block;
  padding: 1em;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  grid-area: header;
}

header {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  gap: 1em;

  .logo {
    height: 3rem;
    width: max-content;
  }
}

.end {
  display: flex;
  align-items: center;
  gap: 1rem;
}

shared-popup-menu {
  color: var(--secondary-color);
}

.user-info {
  margin-top: 0;

  span {
    font-size: 1.3em;
    font-weight: $medium;
  }
}

.legal {
  .links {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .for-publishers {
    display: none;
  }
}
