<header>
  <a routerLink="/" class="dark logo">
    <img src="{{ env.endpoints.static }}/images/logo/svg/full.svg" alt="nuntium">
  </a>
  <div class="end">
    <a *ngIf="router.url === '/'" routerLink="/pages/for-publishers" class="dark for-publishers">
      For publishers
    </a>
    <shared-popup-menu *ngIf="auth.user">
      <a *ngIf="auth.user.type === 'admin'" class="button dark" routerLink="/admin">
        {{ "admin.__title" | translate }}
      </a>
      <a class="button dark" routerLink="/settings">
        {{ "settings.__title" | translate }}
      </a>
      <button class="dark" (click)="auth.signOut()">
        {{ "generic.sign_out" | translate }}
      </button>
    </shared-popup-menu>
    <a class="button dark" routerLink="/signin" *ngIf="!auth.user && !router.url.startsWith('/signin')">
      {{ "generic.sign_in" | translate }}
    </a>
  </div>
</header>
