:host
{
    display: block;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    grid-area: header;
}

header
{
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    gap: 1em;

    .logo
    {
        text-decoration: none;
        color: var(--secondary-color);
        font-size: 2em;
        width: max-content;
    }

    .end
    {
        display: flex;
        gap: 1rem;

        .explore
        {
            display: flex;
        }
    }
}
