<div *ngFor="let comment of childrenOf(parent)" class="comment">
    <header>
        <span class="user">
            {{comment.user.first_name}}
            {{comment.user.last_name}}
        </span>
        &bull;
        <small title="{{comment.created_at | date:'medium'}}">
            {{comment.created_at | date:"LLL d"}}
        </small>
        <span *ngIf="comment.created_at !== comment.updated_at">
            &bull;
            <small title="{{comment.updated_at | date:'medium'}}">
                Updated on {{comment.updated_at | date:"LLL d"}}
            </small>
        </span>
    </header>
    <pre>{{comment.content}}</pre>
    <details *ngIf="childrenOf(comment).length > 0" class="replies">
        <summary>Replies</summary>
        <comment-list [parent]="comment" [comments]="childrenOf(comment)"></comment-list>
    </details>
</div>
