<app-header></app-header>

<settings-menu section="security"></settings-menu>

<main>
    <div class="setting">
        <div class="title">
            <h1>Change password</h1>
        </div>
        <form [formGroup]="changePasswordForm" (submit)="onChangePasswordFormSubmit($event)">
            <label>
                Old password
                <input
                    formControlName="old_password"

                    type="password"
                    name="old-password"
                    autocomplete="current-password"
                    required
                >
                <div *ngIf="changePasswordForm.get('old_password')?.errors" class="errors">
                    <p *ngFor="let error of changePasswordForm.get('old_password')?.errors?.errors">
                        {{error}}
                    </p>
                </div>
            </label>
            <label>
                New password
                <input
                    formControlName="new_password"

                    type="password"
                    name="new-password"
                    autocomplete="new-password"
                    required
                >
                <div *ngIf="changePasswordForm.get('new_password')?.errors" class="errors">
                    <p *ngFor="let error of changePasswordForm.get('new_password')?.errors?.errors">
                        {{error}}
                    </p>
                </div>
            </label>
            <button type="submit">
                Change password
            </button>
        </form>
    </div>
</main>
