<app-header></app-header>

<main>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <div class="title">
      <h1>{{ "generic.sign_in" | translate }}</h1>
      <p>
        {{ "sign_in.no_account" | translate }}
        <a routerLink="/signup" class="dark">{{ "generic.sign_up" | translate }}</a>
      </p>
    </div>
    <label>
      {{ "generic.email" | translate }}
      <input
        formControlName="email"

        type="email"
        name="email"
        autocomplete="email"
        required
      >
      <div *ngIf="form.get('email')?.errors" class="errors">
        <p *ngFor="let error of form.get('email')?.errors?.errors">
          {{ error }}
        </p>
      </div>
    </label>
    <label>
      {{ "generic.password" | translate }}
      <input
        formControlName="password"

        type="password"
        name="password"
        autocomplete="current-password"
        required
      >
      <div *ngIf="form.get('password')?.errors" class="errors">
        <p *ngFor="let error of form.get('password')?.errors?.errors">
          {{ error }}
        </p>
      </div>
    </label>
    <button type="submit">
      {{ "generic.sign_in" | translate }}
    </button>
  </form>
  <img src="assets/signin.svg" alt="">
</main>
