<app-header></app-header>

<main>
  <div>
    <div *ngIf="!showEmailSignInSuccessMessage" class="email-sign-in-success-msg">
      <span>{{ "sign_in.email.success" | translate }}</span>
    </div>
    <form [formGroup]="form" (submit)="onSubmit($event)">
      <div class="title">
        <h1>{{ "generic.sign_in" | translate }}</h1>
      </div>
      <label>
        {{ "generic.email" | translate }}
        <input
          formControlName="email"
  
          type="email"
          name="email"
          autocomplete="email"
          required
        >
        <div *ngIf="form.get('email')?.errors" class="errors">
          <p *ngFor="let error of form.get('email')?.errors?.errors">
            {{ "errors." + error.error | translate:error.params }}
          </p>
        </div>
      </label>
      <button type="submit">
        {{ "generic.sign_in" | translate }}
      </button>
    </form>
    <sign-in-buttons></sign-in-buttons>
  </div>
  <img src="assets/signin.svg" alt="">
</main>
