<app-header></app-header>

<publisher-menu></publisher-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "publisher.verify" | translate }}</h1>
        </div>
        <div *ngIf="publisher" class="content">
            <div>
                <span>
                    In order to verify that you are the owner of
                    <a [href]="publisher.url" target="_blank" class="dark">
                        <b>{{ publisher.url }}</b>
                    </a>
                    you must create a record in your DNS manager with the provided values
                </span>
                <div *ngIf="publisherVerificationData" class="record">
                    <p>
                        <small>Type</small>
                        <br>
                        <b>TXT</b>
                    </p>
                    <p>
                        <small>Host</small>
                        <br>
                        <b>Blank</b> or <b>@</b>
                    </p>
                    <p>
                        <small>Value</small>
                        <br>
                        <b>{{ publisherVerificationData.dns.record }}</b>
                    </p>
                </div>
                <button (click)="verify()">
                    Verifica
                </button>
            </div>
        </div>
    </section>
</main>
