<app-header></app-header>

<publisher-menu section="authors"></publisher-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "publisher.authors.__title" | translate }}</h1>
            <button routerLink="invite">
                &#43; {{ "publisher.authors.invite" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!authors">
                <spinner></spinner>
            </div>
            <div *ngIf="authors" class="list">
                <div *ngIf="authors.length === 0">
                    <p>{{ "publisher.authors.empty" | translate }}</p>
                </div>
                <div *ngFor="let author of authors" class="list-item-with-actions">
                    <a
                        *ngFor="let author of authors"

                        routerLink="/author/{{ author.id }}"
                        class="dark"
                    >
                        <p>
                            {{ author.user.first_name }}
                            {{ author.user.last_name }}
                        </p>
                    </a>
                    <div class="actions">
                        <button (click)="removeAuthor(author)">
                            {{ "generic.remove" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
