<app-header></app-header>

<publisher-menu section="authors"></publisher-menu>

<main>
    <section>
        <div class="title">
            <h1>Authors</h1>
            <button routerLink="invite">
                &#43; Invite
            </button>
        </div>
        <spinner *ngIf="!authors"></spinner>
        <div id="authors" *ngIf="authors">
            <p *ngIf="authors.length === 0">You haven't invited any author</p>
            <a
                *ngFor="let author of authors"

                routerLink="/author/{{author.id}}"
                class="dark"
            >
                <p>{{author.user.first_name}} {{author.user.last_name}}</p>
            </a>
        </div>
    </section>
</main>
