@import "~src/variables";

.no-results
{
    margin: 0;
    text-align: center;
    font-weight: $normal;
}

.publishers
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    > *
    {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: max-content;
        padding: 1rem;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        font-weight: $bold;

        shared-img
        {
            width: 3rem;
            height: 3rem;
        }
    }
}
