<section>
  <div class="title">
    <h1>{{ "publisher.stats.views.__title" | translate }}</h1>
    <div class="controls">
      <label>
        Precision
        <select #precision (change)="ngOnChanges()">
          <option value="day">Day</option>
          <option value="hour">Hour</option>
        </select>
      </label>
      <label>
        Last
        <select #timeSpan (change)="ngOnChanges()">
          <option value="month">Month</option>
          <option value="week">Week</option>
        </select>
      </label>
    </div>
  </div>
  <div class="content">
    <div>
      <canvas #canvas></canvas>
    </div>
  </div>
</section>
