<shared-header></shared-header>

<bundle-menu [bundle]="bundle" [section]="section"></bundle-menu>

<main [ngSwitch]="section">
    <bundle-details *ngSwitchCase="'details'" [bundle]="bundle" (update)="onUpdate($event)"></bundle-details>
    <bundle-prices *ngSwitchCase="'prices'" [bundle]="bundle"></bundle-prices>
    <bundle-prices-add *ngSwitchCase="'prices/add'" [bundle]="bundle"></bundle-prices-add>
    <bundle-publishers *ngSwitchCase="'publishers'" [bundle]="bundle"></bundle-publishers>
    <bundle-publishers-add *ngSwitchCase="'publishers/add'"></bundle-publishers-add>
    <bundle-subscribe *ngSwitchCase="'subscribe'" [bundle]="bundle"></bundle-subscribe>
</main>
