<div class="divider">
    <hr>
    <small>or</small>
    <hr>
</div>

<a href="{{ endpoint }}/auth/google" class="button fill google">
    <img src="/assets/sign-in-buttons/google.svg" alt="">
    Sign In with Google
</a>
<a href="{{ endpoint }}/auth/facebook" class="button fill facebook">
    <img src="/assets/sign-in-buttons/facebook.png" alt="">
    Sign In with Facebook
</a>
<a href="{{ endpoint }}/auth/twitter" class="button fill twitter">
    <img src="/assets/sign-in-buttons/twitter.svg" alt="">
    Sign In with Twitter
</a>
