@import "../organization.scss";

#publishers
{
    a
    {
        display: flex;
        align-items: center;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 0.5em 1em;

        img
        {
            object-fit: cover;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin-right: 1em;
        }

        & ~ a
        {
            margin-top: 1em;
        }
    }
}
