<app-header></app-header>

<organization-menu section="publishers"></organization-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "organization.publishers.__title" | translate }}</h1>
            <button routerLink="create">
                &#43; {{ "generic.create" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!publishers">
                <spinner></spinner>
            </div>
            <div *ngIf="publishers" class="list">
                <div *ngIf="publishers.length === 0">
                    <p>{{ "organization.publishers.empty" | translate }}</p>
                </div>
                <a
                    *ngFor="let publisher of publishers"

                    routerLink="/publisher/{{publisher.id}}"
                    class="dark"
                >
                    <p>{{ publisher.name }}</p>
                </a>
            </div>
        </div>
    </section>
</main>
