<app-header></app-header>

<organization-menu section="publishers"></organization-menu>

<main>
    <section>
        <div class="title">
            <h1>Publishers</h1>
            <button routerLink="create">
                &#43; Create
            </button>
        </div>
        <div class="content">
            <div *ngIf="!publishers">
                <spinner></spinner>
            </div>
            <div *ngIf="publishers" class="list">
                <p *ngIf="publishers.length === 0">You haven't created any publisher</p>
                <a
                    *ngFor="let publisher of publishers"

                    routerLink="/publisher/{{publisher.id}}"
                    class="dark"
                >
                    <p>{{publisher.name}}</p>
                </a>
            </div>
        </div>
    </section>
</main>
