<app-header></app-header>

<organization-menu [organization]="" section="publishers"></organization-menu>

<main>
    <section>
        <div class="title">
            <h1>Create new publisher</h1>
        </div>
        <form [formGroup]="createNewPublisherForm" (submit)="onCreateNewPublisherFormSubmit($event)">
            <label>
                Name
                <input
                    formControlName="name"

                    type="text"
                    name="name"
                    required
                >
                <div *ngIf="createNewPublisherForm.get('name')?.errors" class="errors">
                    <p *ngFor="let error of createNewPublisherForm.get('name')?.errors?.errors">
                        {{error}}
                    </p>
                </div>
            </label>
            <button type="submit">
                Create
            </button>
        </form>
    </section>
</main>
