<app-header></app-header>

<organization-menu section="bundles"></organization-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "organization.bundles.create.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form [formGroup]="form" (submit)="onSubmit($event)">
                <label>
                    {{ "organization.bundles.create.name" | translate }}
                    <input
                        formControlName="name"

                        type="text"
                        name="name"
                        required
                    >
                    <div *ngIf="form.get('name')?.errors" class="errors">
                        <p *ngFor="let error of form.get('name')?.errors?.errors">
                            {{ error }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    {{ "generic.create" | translate }}
                </button>
            </form>
        </div>
    </section>
</main>
