<header>
  <a routerLink="/">nuntium</a>
  <button class="dark" routerLink="/signup" *ngIf="auth.user" (click)="nav.classList.toggle('hide')">
    &#8942;
  </button>
  <button class="dark" routerLink="/signin" *ngIf="!auth.user && !router.url.startsWith('/signin')">
    Sign In
  </button>
  <button class="dark" routerLink="/signup" *ngIf="!auth.user && router.url.startsWith('/signin')">
    Sign Up
  </button>
</header>

<nav #nav class="hide">
  <button class="dark" routerLink="/settings">
    Settings
  </button>
  <button class="dark">
    Sign Out
  </button>
</nav>
