<header>
  <a routerLink="/">nuntium</a>
  <form (submit)="onSearchSubmit($event)">
    <input
      *ngIf="auth.user"

      type="search"
      class="dark"
      placeholder="Search articles"

      [value]="searchQuery"

      (input)="onSearchInput($event)"
    >
  </form>
  <button class="dark" *ngIf="auth.user" (click)="showNav = !showNav">
    &#8942;
  </button>
  <button class="dark" routerLink="/signin" *ngIf="!auth.user && !router.url.startsWith('/signin')">
    Sign In
  </button>
  <button class="dark" routerLink="/signup" *ngIf="!auth.user && router.url.startsWith('/signin')">
    Sign Up
  </button>
</header>

<nav *ngIf="showNav">
  <button class="dark" routerLink="/settings">
    Settings
  </button>
  <button class="dark" (click)="auth.signOut()">
    Sign Out
  </button>
</nav>
