<shared-header></shared-header>

<settings-menu section="details"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.details.__title" | translate }}</h1>
        </div>
        <div class="content">
            <shared-form [submitButtonText]="'generic.update' | translate" [formGroup]="updateAccountDetailsForm" (confirm)="onUpdateAccountDetailsFormSubmit($event)">
                <label>
                    {{ "generic.username" | translate }}
                    <input
                        formControlName="username"

                        type="text"
                        name="username"
                        autocomplete="username"
                        required
                    >
                    <div class="errors">
                        <p *ngFor="let error of updateAccountDetailsForm.get('username')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <label>
                    {{ "generic.email" | translate }}
                    <input
                        formControlName="email"

                        type="email"
                        name="email"
                        autocomplete="email"
                        required
                    >
                    <div class="errors">
                        <p *ngFor="let error of updateAccountDetailsForm.get('email')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
            </shared-form>
        </div>
    </section>
</main>
