<app-header></app-header>

<settings-menu section="details"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.details.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form [formGroup]="updateAccountDetailsForm" (submit)="onUpdateAccountDetailsFormSubmit($event)">
                <div class="row">
                    <label>
                        {{ "generic.first_name" | translate }}
                        <input
                            formControlName="first_name"

                            type="text"
                            name="first-name"
                            autocomplete="given-name"
                            required
                        >
                        <div *ngIf="updateAccountDetailsForm.get('first_name')?.errors" class="errors">
                            <p *ngFor="let error of updateAccountDetailsForm.get('first_name')?.errors?.errors">
                                {{ "errors." + error.error | translate:error.params }}
                            </p>
                        </div>
                    </label>
                    <label>
                        {{ "generic.last_name" | translate }}
                        <input
                            formControlName="last_name"

                            type="text"
                            name="last-name"
                            autocomplete="family-name"
                            required
                        >
                        <div *ngIf="updateAccountDetailsForm.get('last_name')?.errors" class="errors">
                            <p *ngFor="let error of updateAccountDetailsForm.get('last_name')?.errors?.errors">
                                {{ "errors." + error.error | translate:error.params }}
                            </p>
                        </div>
                    </label>
                </div>
                <label>
                    {{ "generic.email" | translate }}
                    <input
                        formControlName="email"

                        type="email"
                        name="email"
                        autocomplete="email"
                        required
                    >
                    <div *ngIf="updateAccountDetailsForm.get('email')?.errors" class="errors">
                        <p *ngFor="let error of updateAccountDetailsForm.get('email')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    {{ "generic.update" | translate }}
                </button>
            </form>
        </div>
    </section>
</main>
