<shared-header></shared-header>

<aside>
    <shared-search-input [fill]="true"></shared-search-input>
    <a routerLink="/feed/explore" class="button with-icon fill">
        <span class="mat-icon">explore</span>
        {{ "feed.explore" | translate }}
    </a>
    <a routerLink="/feed/likes" class="button with-icon fill">
        <span class="mat-icon">thumb_up</span>
        {{ "feed.likes.__title" | translate }}
    </a>
    <a routerLink="/feed/bookmarks" class="button with-icon fill">
        <span class="mat-icon">bookmarks</span>
        {{ "feed.bookmarks.__title" | translate }}
    </a>
</aside>

<main *ngIf="articles">
    <div *ngIf="articles.length === 0" class="empty-feed">
        <img src="/assets/empty-feed.svg" alt="">
        <h1>{{ "feed.empty.title" | translate }}</h1>
        <p>{{ "feed.empty.subtitle" | translate }}</p>
    </div>
    <article-list [articles]="articles"></article-list>
</main>
