@import "~src/layouts/default-mobile-inverted";

@import "~src/variables";

aside
{
    shared-search-input
    {
        margin-bottom: 1rem;
    }
}

main
{
    margin-top: 1em;

    .empty-feed
    {
        max-width: 100%;
        width: 60ch;
        margin: auto;

        h1
        {
            font-weight: $normal;
        }
    }
}
