@import "~src/layouts/default-mobile-inverted";

@import "~src/variables";

aside
{
    shared-search-input
    {
        margin-bottom: 1rem;
    }
}

main
{
    margin-top: 1em;

    .empty-feed
    {
        width: 100%;
        max-width: 60ch;
        margin: auto;

        h1
        {
            font-weight: $normal;
            margin-bottom: 0;
        }

        p
        {
            margin-top: 0.5rem;
        }
    }
}
