<shared-header></shared-header>

<aside *ngIf="article">
  <h1 class="title">{{ article.title }}</h1>
  <section *ngIf="article.author.user.id === auth.user?.id" class="actions">
    <div class="title">
      <h1>{{ "article.actions.__title" | translate }}</h1>
    </div>
    <div class="content">
      <div>
        <button class="fill" (click)="createUpdateDraft()">
          {{ "generic.edit" | translate }}
        </button>
        <shared-danger-button
          size="fill"
          [message]="'generic.delete' | translate"
          (confirm)="deleteArticle()"
        >
          {{ "generic.delete" | translate }}
        </shared-danger-button>
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h1>{{ "article.publisher.__title" | translate }}</h1>
    </div>
    <div class="content">
      <a routerLink="/p/{{ article.author.publisher.id }}">
        {{ article.author.publisher.name }}
      </a>
    </div>
  </section>
  <section>
    <div class="title">
      <h1>{{ "article.author.__title" | translate }}</h1>
    </div>
    <div class="content">
      <a routerLink="/a/{{ article.author.id }}">
        {{ article.author.user.full_name }}
      </a>
    </div>
  </section>
  <section class="info">
    <div class="title">
      <h1>{{ "article.info.__title" | translate }}</h1>
    </div>
    <div class="content">
      <div>
        <b>{{ "article.info.reading_time" | translate }}</b>
        <p *ngIf="article.reading_time >= 1">
          {{ article.reading_time }}
          {{
            (article.reading_time > 1
              ? "generic.minute.many"
              : "generic.minute.one"
            ) | translate
          }}
        </p>
        <p *ngIf="article.reading_time < 1">
          {{ "generic.less_than_a_minute" | translate }}
        </p>
      </div>
      <div>
        <b>{{ "article.info.published" | translate }}</b>
        <p>{{ format.dateTime(article.created_at, "datetime") }}</p>
      </div>
      <div>
        <b>{{ "article.info.updated" | translate }}</b>
        <p>{{ format.dateTime(article.updated_at, "datetime") }}</p>
      </div>
    </div>
  </section>
</aside>

<shared-spinner *ngIf="!article"></shared-spinner>

<main id="main-content" *ngIf="article && isSubscribed">
  <shared-editor
    [(content)]="article.content"
    [isReadOnly]="true"
  ></shared-editor>
  <div class="sources round">
    <p>Sources</p>
    <p *ngIf="sources?.length === 0" class="empty">
      <i>The author didn't specify any source</i>
    </p>
    <ol>
      <li *ngFor="let source of sources">
        <a [href]="source.url">{{ source.url }}</a>
      </li>
    </ol>
  </div>
  <article-bottom-actions [article]="article"></article-bottom-actions>
</main>

<main id="main-content" *ngIf="!isSubscribed">
  <div class="round payment-required">
    <h1>{{ "article.payment_required.title" | translate }}</h1>
    <p>{{ "article.payment_required.subtitle" | translate }}</p>
    <a
      *ngIf="article"
      routerLink="/p/{{ article.author.publisher.id }}"
      class="button dark"
    >
      View
    </a>
  </div>
</main>
