div
{
    border: 5px solid var(--primary-color);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border-left: 5px solid transparent;
    animation: rotate 1s linear infinite;

    @keyframes rotate
    {
        to
        {
            transform: rotate(360deg);
        }
    }
}
