@import "~src/variables";

:host
{
    display: grid;
    grid-template-columns: 20em 60ch auto;
    grid-template-areas:
        "header header header"
        "aside main empty";
    gap: 1em;
}

aside
{
    grid-area: aside;
    height: min-content;
    position: sticky;
    top: 1em;

    .actions
    {
        button:first-child
        {
            margin-bottom: 1em;
        }
    }

    .info
    {
        p
        {
            margin: 0;
            margin-top: 0.5em;
        }
    }
}

main
{
    .title
    {
        margin-top: 0;
        word-break: break-word;
    }

    .update-article
    {
        max-width: 100%;
    }
}

#comments
{
    margin-top: 3em;
}

.payment-required
{
    max-width: 100%;
    width: 60ch;

    h1
    {
        span
        {
            font-weight: $normal;
        }
    }
}

@media (max-width: 1000px)
{
    :host
    {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "aside";
    }

    aside
    {
        position: unset;
    }
}
