<shared-header></shared-header>

<aside *ngIf="article">
    <section *ngIf="isUpdatingArticle">
        <div class="title"></div>
        <div class="content">
            <shared-form [submitButtonText]="'generic.submit' | translate" [formGroup]="updateArticleForm" (confirm)="updateArticle($event)">
                <label>
                    {{ "publisher_public_page.new_article.title" | translate }}
                    <input formControlName="title" type="text">
                    <div class="errors">
                        <p *ngFor="let error of updateArticleForm.get('title')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
            </shared-form>
        </div>
    </section>
    <section *ngIf="article.author.user.id === auth.user?.id" class="actions">
        <div class="title">
            <h1>{{ "article.actions.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <button *ngIf="!isUpdatingArticle" class="fill" (click)="isUpdatingArticle = true">
                    {{  "generic.edit" | translate }}
                </button>
                <button *ngIf="isUpdatingArticle" class="fill" (click)="isUpdatingArticle = false">
                    {{  "generic.cancel" | translate }}
                </button>
                <shared-danger-button
                    *ngIf="!isUpdatingArticle"

                    size="fill"

                    [text]="'generic.delete' | translate"
                    [alertText]="'generic.delete' | translate"

                    (confirm)="deleteArticle()"
                ></shared-danger-button>
            </div>
        </div>
    </section>
    <section *ngIf="!isUpdatingArticle">
        <div class="title">
            <h1>{{ "article.publisher.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/~{{ article.author.publisher.id }}">
                {{ article.author.publisher.name }}
            </a>
        </div>
    </section>
    <section *ngIf="!isUpdatingArticle">
        <div class="title">
            <h1>{{ "article.author.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/~{{ article.author.user.id }}">
                {{ article.author.user.full_name }}
            </a>
        </div>
    </section>
    <section *ngIf="!isUpdatingArticle" class="info">
        <div class="title">
            <h1>{{ "article.info.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <b>{{ "article.info.reading_time" | translate }}</b>
                <p *ngIf="article.reading_time >= 1">
                    {{ article.reading_time }}
                    {{
                        (
                            article.reading_time > 1
                                ? "generic.minute.many"
                                : "generic.minute.one"
                        )
                        | translate
                    }}
                </p>
                <p *ngIf="article.reading_time < 1">
                    {{ "generic.less_than_a_minute" | translate }}
                </p>
            </div>
            <div>
                <b>{{ "article.info.published" | translate }}</b>
                <p>{{ format.dateTime(article.created_at, "datetime") }}</p>
            </div>
            <div>
                <b>{{ "article.info.updated" | translate }}</b>
                <p>{{ format.dateTime(article.updated_at, "datetime") }}</p>
            </div>
        </div>
    </section>
</aside>

<shared-spinner *ngIf="!article"></shared-spinner>

<main *ngIf="article && isSubscribed">
    <div>
        <h1 class="title">{{ article.title }}</h1>
        <shared-editor [(content)]="article.content" [isReadOnly]="!isUpdatingArticle"></shared-editor>
    </div>
    <section *ngIf="!isUpdatingArticle" id="comments">
        <div class="title">
            <h1>{{ "article.comments" | translate }}</h1>
        </div>
        <div class="content">
            <article-add-comment-form
                [article]="article"

                (commentCreated)="onCommentCreated($event)"
            >
            </article-add-comment-form>
            <article-comment-list [article]="article" [comments]="comments"></article-comment-list>
        </div>
    </section>
</main>

<main *ngIf="!isSubscribed">
    <div class="payment-required">
        <h1>{{ "article.payment_required.title" | translate }}</h1>
        <p>{{ "article.payment_required.subtitle" | translate }}</p>
    </div>
</main>
