:host
{
    display: grid;
    grid-template-columns: 20em 60ch auto;
    grid-template-areas:
        "header header header"
        "details main empty";
    gap: 1em;
    height: 100%;
}

#details
{
    grid-area: details;
    height: min-content;
    position: sticky;
    top: 1em;

    .info
    {
        p
        {
            margin: 0;
            margin-top: 0.5em;
        }
    }
}

main
{
    .title,
    .content
    {
        word-break: break-word;
    }

    .title
    {
        margin: 0;
    }
}

#comments
{
    margin-top: 3em;
}

@media (max-width: 1000px)
{
    :host
    {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "main"
            "details";
    }
}
