@import "~src/layouts/default";

@import "~src/variables";

aside
{
    .update-form
    {
        margin-bottom: 1rem;
    }

    .actions
    {
        .content
        {
            div > :not(:first-child)
            {
                display: block;
                margin-top: 1rem;
            }
        }
    }

    .info
    {
        p
        {
            margin: 0;
            margin-top: 0.5em;
        }
    }
}

main
{
    .title
    {
        margin-top: 0;
        word-break: break-word;
    }

    .update-article
    {
        max-width: 100%;
    }
}

#comments
{
    margin-top: 3em;
}

.payment-required
{
    color: black;
    background-color: var(--link-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    h1
    {
        margin: 0;
    }

    p
    {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}
