<shared-header></shared-header>

<aside *ngIf="article">
    <section *ngIf="article.author.user.id === auth.user?.id" class="actions">
        <div class="title">
            <h1>{{ "article.actions.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <button *ngIf="!isUpdatingArticle" class="fill" (click)="isUpdatingArticle = true">
                    {{  "generic.edit" | translate }}
                </button>
                <button *ngIf="isUpdatingArticle" class="fill" (click)="isUpdatingArticle = false">
                    {{  "generic.cancel" | translate }}
                </button>
                <shared-danger-button
                    *ngIf="!isUpdatingArticle"

                    size="fill"

                    [text]="'generic.delete' | translate"
                    [alertText]="'generic.delete' | translate"

                    (confirm)="deleteArticle()"
                ></shared-danger-button>
            </div>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>{{ "article.publisher.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/~{{ article.author.publisher.id }}">
                {{ article.author.publisher.name }}
            </a>
            <a href="{{ article.author.publisher.url }}" target="_blank">
                {{ article.author.publisher.url }}
            </a>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>{{ "article.author.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/~{{ article.author.user.id }}">
                {{ article.author.user.username }}
            </a>
        </div>
    </section>
    <section class="info">
        <div class="title">
            <h1>{{ "article.info.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <b>{{ "article.info.reading_time.__title" | translate }}</b>
                <p *ngIf="article.reading_time >= 1">
                    {{ article.reading_time }}
                    {{ "article.info.reading_time.minutes" | translate }}
                </p>
                <p *ngIf="article.reading_time < 1">
                    {{ "article.info.reading_time.less_than_a_minute" | translate }}
                </p>
            </div>
            <div>
                <b>{{ "article.info.published" | translate }}</b>
                <p>{{ format.dateTime(article.created_at, "datetime") }}</p>
            </div>
            <div>
                <b>{{ "article.info.updated" | translate }}</b>
                <p>{{ format.dateTime(article.updated_at, "datetime") }}</p>
            </div>
        </div>
    </section>
</aside>

<main *ngIf="article && isSubscribed">
    <div>
        <h1 class="title">{{ article.title }}</h1>
        <shared-editor [(content)]="article.content" [isReadOnly]="!isUpdatingArticle"></shared-editor>
    </div>
    <section *ngIf="!isUpdatingArticle" id="comments">
        <div class="title">
            <h1>{{ "article.comments" | translate }}</h1>
        </div>
        <div class="content">
            <article-add-comment-form
                [article]="article"

                (commentCreated)="onCommentCreated($event)"
            >
            </article-add-comment-form>
            <article-comment-list [article]="article" [comments]="comments"></article-comment-list>
        </div>
    </section>
</main>

<main *ngIf="!isSubscribed">
    <div class="payment-required">
        <img src="/assets/credit-card-payment.svg" alt="">
        <h1>{{ "article.payment_required.title" | translate }}</h1>
        <p>{{ "article.payment_required.subtitle" | translate }}</p>
    </div>
</main>
