@import "~src/layouts/menu";

header {
  $profile-image-size: 50px;

  display: grid;
  grid-template-columns: $profile-image-size auto;
  align-items: flex-end;
  gap: 1rem;

  shared-img {
    height: $profile-image-size;
    width: $profile-image-size;
  }
}
