<app-header></app-header>

<publisher-menu section="details"></publisher-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "publisher.details.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form [formGroup]="detailsForm" (submit)="onDetailsFormSubmit($event)">
                <label>
                    {{ "publisher.details.name" | translate }}
                    <input
                        formControlName="name"

                        type="text"
                        name="name"
                        required
                    >
                    <div *ngIf="detailsForm.get('name')?.errors" class="errors">
                        <p *ngFor="let error of detailsForm.get('name')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <label>
                    URL
                    <input
                        formControlName="url"

                        type="url"
                        name="url"
                        required
                    >
                    <div *ngIf="detailsForm.get('url')?.errors" class="errors">
                        <p *ngFor="let error of detailsForm.get('url')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    {{ "generic.update" | translate }}
                </button>
            </form>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>{{ "publisher.details.image.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form class="image-form" [formGroup]="imageForm" (submit)="onImageFormSubmit($event)">
                <img *ngIf="imageSrc" [src]="imageSrc" alt="">
                <label>
                    {{ "publisher.details.image.image" | translate }}
                    <input
                        formControlName="image"

                        type="file"
                        name="image"
                        accept="image/*"
                        required

                        (change)="onImageChange($event)"
                    >
                    <div *ngIf="imageForm.get('image')?.errors" class="errors">
                        <p *ngFor="let error of imageForm.get('image')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    {{ "generic.update" | translate }}
                </button>
            </form>
        </div>
    </section>
</main>
