@import "~src/variables";

:host
{
    display: grid;
    grid-template-columns: 30% max-content auto;
    grid-template-areas:
        "header header header"
        "aside main empty";
    gap: 1em;
}

aside
{
    grid-area: aside;
    height: min-content;
    position: sticky;
    top: 1em;

    header
    {
        display: grid;
        grid-template-columns: 100px auto;
        align-items: flex-end;
        gap: 1rem;
        position: relative;

        shared-img
        {
            border-radius: 0.5rem;
            height: 100px;
            width: 100px;
        }

        h1
        {
            margin-top: 0;
        }

        a
        {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0.5rem;
            color: var(--secondary-color);
            background-color: var(--primary-color);
        }
    }
}

.bundle
{
    border-radius: 0;
    color: unset;
}

.payment-required
{
    width: 100%;
    max-width: 60ch;

    h1
    {
        font-weight: $normal;
    }
}

@media (max-width: 1000px)
{
    :host
    {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "aside"
            "main";
    }
}
