@import "~src/variables";

:host
{
    display: grid;
    grid-template-columns: 20em max-content auto;
    grid-template-areas:
        "header header header"
        "aside main empty";
    gap: 1em;
}

aside
{
    grid-area: aside;
    height: min-content;
    position: sticky;
    top: 1em;

    h1
    {
        margin-top: 0;
    }
}

.bundle
{
    border: 1px solid;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
    color: unset;

    .price
    {
        display: block;
        font-size: xx-large;
        font-weight: $bold;

        .billing-period
        {
            font-size: large;
            font-weight: $light;
        }
    }
}

@media (max-width: 1000px)
{
    :host
    {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "aside"
            "main";
    }
}
