<app-header></app-header>

<aside *ngIf="publisher">
    <h1>{{publisher.name}}</h1>
    <div *ngIf="bundles">
        <button (click)="showBundleList = !showBundleList">
            Subscribe
        </button>
        <div *ngIf="showBundleList">
            <p *ngIf="bundles.length === 0">
                There are no bundles for this publisher
            </p>
            <p *ngFor="let bundle of bundles" (click)="onBundleSelected(bundle)">
                {{bundle.name}}
                {{bundle.price}}
            </p>
        </div>
    </div>
</aside>

<main>
    <article-list [articles]="articles"></article-list>
</main>