<app-header></app-header>

<aside *ngIf="publisher">
    <h1>{{publisher.name}}</h1>
    <section *ngIf="publisher.__metadata?.is_author">
        <div class="title">
            <h1>Actions</h1>
        </div>
        <div class="content">
            <div>
                <a class="button fill" routerLink="new">
                    &#43; Write new article
                </a>
            </div>
        </div>
    </section>
    <section *ngIf="bundles && (publisher.__metadata && !publisher.__metadata.is_subscribed)">
        <div class="title">
            <h1>Subscribe</h1>
        </div>
        <div class="content">
            <p *ngIf="bundles.length === 0">
                There are no bundles for this publisher
            </p>
            <a
                *ngFor="let bundle of bundles"

                routerLink="/bundle/{{bundle.id}}/subscribe"

                class="bundle dark"
            >
                <span class="name">{{bundle.name}}</span>
                <span class="price">
                    {{bundle.price / 100}}
                    <span class="currency">USD</span>
                    <span class="billing-period">/ month</span>
                </span>
            </a>
        </div>
    </section>
</aside>

<main>
    <article-list *ngIf="isSubscribed" [articles]="articles"></article-list>
    <div *ngIf="!isSubscribed && publisher" class="payment-required">
        <img src="/assets/credit-card-payment.svg" alt="">
        <h1>
            <span>You are not subscribed to</span>
            {{publisher.name}}
        </h1>
        <p>
            In order to see the articles of <b>{{publisher.name}}</b>
            you need to subscribe a bundle that includes this publisher
        </p>
    </div>
</main>
