<aside>
    <section>
        <div class="title">
            <h1>Account</h1>
        </div>
        <div class="content">
            <a
                routerLink="/settings/account"
                [class.selected]="section === 'account'"
            >
                Account
            </a>
            <a
                routerLink="/settings/security"
                [class.selected]="section === 'security'"
            >
                Security
            </a>
            <a
                routerLink="/settings/subscriptions"
                [class.selected]="section === 'subscriptions'"
            >
                Subscriptions
            </a>
            <a
                routerLink="/settings/organizations"
                [class.selected]="section === 'organizations'"
            >
                Organizations
            </a>
        </div>
    </section>
    <section>
        <div class="title">
            <h1>Author</h1>
        </div>
        <div class="content">
            <a
                routerLink="/settings/publishers"
                [class.selected]="section === 'publishers'"
            >
                Publishers
            </a>
        </div>
    </section>
</aside>
