<app-header></app-header>

<settings-menu section="organizations"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.organizations.__title" | translate }}</h1>
            <button routerLink="create">
                &#43; {{ "generic.create" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!organizations">
                <spinner></spinner>
            </div>
            <div *ngIf="organizations" class="list">
                <div *ngIf="organizations.length === 0">
                    <p>{{ "settings.account.organizations.empty" | translate }}</p>
                </div>
                <a
                    *ngFor="let organization of organizations"

                    routerLink="/organization/{{organization.id}}"
                    class="dark"
                >
                    <p>{{ organization.name }}</p>
                </a>
            </div>
        </div>
    </section>
</main>
