<app-header></app-header>

<settings-menu section="organizations"></settings-menu>

<main>
    <div class="setting">
        <div class="title">
            <h1>Organizations</h1>
            <button>
                &#43; Create
            </button>
        </div>
        <div id="organizations">
            <p *ngIf="organizations && organizations.length === 0">You haven't created any organization</p>
            <a
                *ngFor="let organization of organizations"

                routerLink="/organizations/{{organization.id}}"
                class="dark"
            >
                <img src="https://via.placeholder.com/600x350/24f355" alt="{{organization.name}} logo">
                <p>{{organization.name}}</p>
            </a>
        </div>
    </div>
</main>
