<app-header></app-header>

<settings-menu section="organizations"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Organizations</h1>
            <button routerLink="create">
                &#43; Create
            </button>
        </div>
        <div class="content">
            <div *ngIf="!organizations">
                <spinner></spinner>
            </div>
            <div *ngIf="organizations" class="list">
                <div *ngIf="organizations.length === 0">
                    <p>You haven't created any organization</p>
                </div>
                <a
                    *ngFor="let organization of organizations"

                    routerLink="/organization/{{organization.id}}"
                    class="dark"
                >
                    <p>{{organization.name}}</p>
                </a>
            </div>
        </div>
    </section>
</main>
