<button
    class="danger {{ class }}"

    (click)="showConfirmDialog = true"
>
    {{ text }}
</button>

<div *ngIf="showConfirmDialog" class="dialog-container">
    <div class="dialog">
        <b>{{ alertText }}</b>
        <div class="actions">
            <button class="danger dark" (click)="onConfirm()">
                {{ text }}
            </button>
            <button class="dark" (click)="showConfirmDialog = false">
                {{ "generic.cancel" | translate }}
            </button>
        </div>
    </div>
</div>
