<shared-header></shared-header>

<aside>
    <header>
        <h1>{{ "publisher_public_page.actions.new_article" | translate }}</h1>
    </header>
    <shared-form [submitButtonText]="'generic.submit' | translate" [formGroup]="form" (confirm)="onSubmit($event)">
        <label>
            {{ "publisher_public_page.new_article.title" | translate }}
            <input formControlName="title" type="text">
            <div class="errors">
                <p *ngFor="let error of form.get('title')?.errors?.errors">
                    {{ "errors." + error.error | translate:error.params }}
                </p>
            </div>
        </label>
    </shared-form>
</aside>

<main>
    <header>
        <button (click)="do('bold')">
            <b>B</b>
        </button>
        <button (click)="do('italic')">
            <i>I</i>
        </button>
        <button (click)="do('underline')">
            <u>U</u>
        </button>
        <select (change)="do('style', $event)">
            <option value="p">Paragraph</option>
            <option *ngFor="let i of [ 1, 2, 3, 4, 5, 6 ]" value="h{{ i }}">
                H{{ i }}
            </option>
        </select>
    </header>
    <div class="errors">
        <p *ngFor="let error of form.get('content')?.errors?.errors">
            {{ "errors." + error.error | translate:error.params }}
        </p>
    </div>
    <div id="editor"></div>
</main>
