form
{
    margin: 0 auto;
    margin-top: 1em;

    textarea
    {
        width: 100%;
        resize: vertical;
        margin-top: 0.2em;
    }

    button
    {
        margin-top: 0.5em;
        width: max-content;
    }
}
