@import "~src/layouts/default";

shared-form > ::ng-deep form
{
    margin: 0 auto;
    margin-top: 1em;
}

::ng-deep .ProseMirror
{
    color: black;
    background-color: white;
    min-height: 30rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
