<shared-header></shared-header>

<main>
    <form [formGroup]="form" (submit)="onSubmit($event)">
        <div class="title">
            <h1>{{ "publisher_public_page.actions.new_article" | translate }}</h1>
        </div>
        <label>
            {{ "publisher_public_page.new_article.title" | translate }}
            <input formControlName="title" type="text">
            <div *ngIf="form.get('title')?.errors" class="errors">
                <p *ngFor="let error of form.get('title')?.errors?.errors">
                    {{ "errors." + error.error | translate:error.params }}
                </p>
            </div>
        </label>
        <label>
            {{ "publisher_public_page.new_article.content" | translate }}
            <textarea formControlName="content" rows="30"></textarea>
            <div *ngIf="form.get('content')?.errors" class="errors">
                <p *ngFor="let error of form.get('content')?.errors?.errors">
                    {{ "errors." + error.error | translate:error.params }}
                </p>
            </div>
        </label>
        <button type="submit">
            {{ "generic.submit" | translate }}
        </button>
    </form>
</main>
