@import "~src/layouts/default";

main
{
    header
    {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
        margin-bottom: 0.5rem;

        button
        {
            &.active
            {
                opacity: 0.8;
            }
        }

        & > div
        {
            display: flex;
            gap: 0.2rem;
            margin-right: 1rem;
        }
    }
}

::ng-deep .ProseMirror
{
    color: black;
    background-color: white;
    min-height: 30rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
