@import "~src/variables";

:host {
  display: block;
}

form {
  display: flex;

  button[type="submit"] {
    margin: 0;
    padding: 0 1rem;
    width: min-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--primary-color);
    background-color: rgba($primary-color, 0.3);
    font-size: 1.5rem;
  }
}

input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
