<app-header></app-header>

<settings-menu section="preferences"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.preferences.language.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form [formGroup]="languageForm" (submit)="onLanguageChangeSubmit($event)">
                <label>
                    {{ "settings.account.preferences.language.choose_option" | translate }}
                    <select formControlName="language">
                        <option
                            *ngFor="let language of languages"

                            value="{{ language.id }}"

                            [selected]="userSettings?.language === language.id"
                        >
                            {{ language.display_name }}
                        </option>
                    </select>
                </label>
                <button type="submit">
                    {{ "generic.update" | translate }}
                </button>
            </form>
        </div>
    </section>
</main>
