<section>
    <div class="title">
        <h1>{{ "settings.author.invites.__title" | translate }}</h1>
    </div>
    <div class="content">
        <div *ngIf="!invites">
            <shared-spinner></shared-spinner>
        </div>
        <div *ngIf="invites" class="list">
            <div *ngIf="invites.length === 0">
                <p>{{ "settings.author.invites.empty" | translate }}</p>
            </div>
            <div *ngFor="let invite of invites" class="list-item-with-actions">
                <div class="round">
                    <p>{{ invite.publisher.name }}</p>
                </div>
                <button (click)="accept(invite)">
                    {{ "settings.author.invites.accept" | translate }}
                </button>
            </div>
        </div>
    </div>
</section>
