<app-header></app-header>

<settings-menu section="payment-methods"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Add Payment Method</h1>
        </div>
        <div class="content">
            <form (submit)="onSubmit($event)">
                <label>
                    <span class="label">Card</span>
                    <div id="card-element"></div>
                    <div class="errors" *ngIf="cardElementError">
                        <p>{{cardElementError}}</p>
                    </div>
                </label>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </section>
</main>
