@import "~src/variables";

:host
{
    display: block;
}

input
{
    display: none;
    max-width: 100%;
}

.img-container
{
    height: 200px;
    border: 0.2rem dashed var(--primary-color);
    border-radius: 0.5rem;

    img
    {
        display: block;
        margin: auto;
    }

    p
    {
        display: grid;
        place-content: center;
        margin: 0;
        height: 100%;
    }

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
    }

    &:hover
    {
        opacity: 0.9;
    }
}
