<aside *ngIf="organization">
    <header>
        <h1>{{ organization.name }}</h1>
    </header>
    <organization-stripe-connect-button [organization]="organization"></organization-stripe-connect-button>
    <section>
        <div class="title"></div>
        <div class="content">
            <a
                routerLink="/organization/{{ organization.id }}/details"
                [class.selected]="section === 'details'"
            >
                {{ "organization.details.__title" | translate }}
            </a>
            <a
                routerLink="/organization/{{ organization.id }}/publishers"
                [class.selected]="section === 'publishers'"
            >
                {{ "organization.publishers.__title" | translate }}
            </a>
            <a
                routerLink="/organization/{{ organization.id }}/bundles"
                [class.selected]="section === 'bundles'"
            >
                {{ "organization.bundles.__title" | translate }}
            </a>
        </div>
    </section>
</aside>
