main
{
    max-width: 500px;
    margin: 0 auto;

    article
    {
        .content
        {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
}
