.skip-link {
  color: white;
  background-color: black;
  font-weight: 700;
  left: 50%;
  padding: 1rem;
  position: absolute;
  z-index: 999;
  transform: translateY(-200%);
  transition: transform 100ms;

  &:focus {
    transform: translateY(1rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  .skip-link {
    transition: none;
  }
}
