@import "~src/variables";

.list-item-with-actions
{
    > div:first-child
    {
        border-radius: 0.5rem;

        .price
        {
            font-size: xx-large;
            font-weight: $bold;
        }
    }
}
