<shared-header></shared-header>

<main>
  <div>
    <div *ngIf="signInError.length > 0" class="sign-in-error-msg round">
      <span>{{ signInError | translate }}</span>
    </div>
    <h1>{{ "generic.sign_in" | translate }}</h1>
    <sign-in-buttons [redirectTo]="redirectTo"></sign-in-buttons>

    <div class="divider">
      <hr>
      <small>{{ "sign_in.or" | translate }}</small>
      <hr>
    </div>

    <div *ngIf="showEmailSignInSuccessMessage" class="email-sign-in-success-msg round">
      <span>{{ "sign_in.email.success" | translate }}</span>
    </div>
    <shared-form [submitButtonText]="'generic.sign_in' | translate" [formGroup]="form" (confirm)="onSubmit($event)">
      <label>
        {{ "generic.email" | translate }}
        <input
          formControlName="email"
  
          type="email"
          name="email"
          autocomplete="email"
          required
        >
        <div class="errors">
          <p *ngFor="let error of form.get('email')?.errors?.errors">
            {{ "errors." + error.error | translate:error.params }}
          </p>
        </div>
      </label>
    </shared-form>
  </div>

  <div></div>

  <img src="assets/signin.svg" alt="">
</main>
