@import "~src/variables";

header
{
    display: grid;
    grid-template-columns: max-content auto;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--secondary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: -1rem;

    button
    {
        &.active
        {
            opacity: 0.8;
        }
    }

    .undo-redo
    {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin-right: 1rem;

        button
        {
            height: 100%;
        }
    }

    .others
    {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
    }
}

::ng-deep .ProseMirror
{
    color: black;
    background-color: white;
    min-height: 30rem;
    padding: 0.5rem;
    border-radius: 0.5rem;

    blockquote
    {
        padding-left: 1rem;
        border-left: 2px solid rgba(13, 13, 13, 0.1);
    }

    pre
    {
        background: #0d0d0d;
        color: white;
        font-family: monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
    }

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
    }
}
