<app-header></app-header>

<bundle-menu section="subscribe"></bundle-menu>

<main *ngIf="auth.user && bundle">
    <section>
        <div class="title">
            <h1>Subscribe</h1>
        </div>
        <div class="content">
            <div>
                <div *ngIf="!auth.user.has_payment_methods">
                    <p class="add-pm-msg">Before subscribing to <b>{{bundle.name}}</b> you need to add a payment method</p>
                    <a class="button" routerLink="/settings/payment-methods/add">
                        Add a payment method
                    </a>
                </div>
                <button
                    *ngIf="auth.user.has_payment_methods"

                    (click)="subscribe()"
                >
                    Subscribe
                </button>
            </div>
        </div>
    </section>
</main>
