<footer>
  <hr />
  <div class="links">
    <a routerLink="/pages/for-publishers">For publishers</a>
    <a routerLink="/pages/privacy">{{ "privacy.__title" | translate }}</a>
    <a routerLink="/pages/terms">{{ "terms.__title" | translate }}</a>
  </div>
  <hr />
  <div class="bottom">
    <span>&copy; 2021 - nuntium</span>
    <select class="small" (change)="onLanguageChange($event)">
      <option
        *ngFor="let language of languages"
        value="{{ language.id }}"
        [selected]="language.id === currentLanguage"
      >
        {{ language.display_name }}
      </option>
    </select>
  </div>
</footer>
