@import "~src/variables";

:host {
  grid-area: footer;
}

hr:first-child
{
  height: 10px;
  border-radius: 5px;
}

.links {
  display: flex;
  gap: 1rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
