<app-header></app-header>

<settings-menu section="publishers"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Publishers</h1>
        </div>
        <div class="content">
            <div *ngIf="!publishers">
                <spinner></spinner>
            </div>
            <div *ngIf="publishers" class="list">
                <p *ngIf="publishers.length === 0">You are not an author of any publisher</p>
                <a
                    *ngFor="let publisher of publishers"

                    routerLink="/~{{publisher.id}}"
                    class="dark"
                >
                    <p>{{publisher.name}}</p>
                </a>
            </div>
        </div>
    </section>
</main>
