@import "~src/variables";

.bundle
{
    border-radius: 0.5em;

    .price
    {
        margin-top: 0.5rem;
        font-size: xx-large;
        font-weight: $bold;

        .billing-period
        {
            font-size: large;
            font-weight: $light;
        }
    }
}
