<div *ngIf="subscriptions" class="list">
    <div *ngIf="subscriptions.length === 0">
        <p>You are not subscribed to any bundle</p>
    </div>
    <div *ngFor="let subscription of subscriptions" class="bundle">
        <p>{{subscription.bundle.name}}</p>
        <p class="price">
            {{subscription.bundle.price / 100}}
            <span class="currency">USD</span>
            <span class="billing-period">/ month</span>
        </p>
        <small>
            <span>
                {{subscription.cancel_at_period_end ? "Cancels on" : "Renews on"}}
            </span>
            <b>{{subscription.current_period_end | date:"longDate"}}</b>
        </small>
    </div>
</div>
