<div *ngIf="subscriptions" class="list">
    <div *ngIf="subscriptions.length === 0">
        <p>You are not subscribed to any bundle</p>
    </div>
    <div *ngFor="let subscription of subscriptions" class="bundle">
        <p>{{subscription.price.bundle.name}}</p>
        <p class="price">
            {{subscription.price.value / 100}}
            <span class="currency">subscription.price.currency.toUpperCase()</span>
            <span class="billing-period">/ month</span>
        </p>
        <small *ngIf="subscription.status === 'active'">
            {{subscription.cancel_at_period_end ? "Cancels on" : "Renews on"}}
            <b>{{subscription.current_period_end | date:"longDate"}}</b>
        </small>
    </div>
</div>
