<section>
  <div class="title">
    <h1>{{ "settings.account.security.accounts.__title" | translate }}</h1>
  </div>
  <div class="content">
    <div *ngIf="!accounts">
      <shared-spinner></shared-spinner>
    </div>
    <div *ngIf="accounts" class="list">
      <div *ngIf="accounts.length === 0">
        <p>{{ "settings.account.security.accounts.empty" | translate }}</p>
      </div>
      <div
        *ngFor="let account of accounts"
        class="list-item-with-actions account"
      >
        <div class="round info {{ account.id }}">
          <img src="/assets/sign-in-buttons/{{ account.id }}.svg" alt="" />
          <p>{{ account.display_name }}</p>
        </div>
        <shared-popup-menu theme="light">
          <a
            *ngIf="!account.is_linked && auth.user"
            href="{{ env.endpoints.api }}/users/{{
              auth.user.id
            }}/accounts/link/{{ account.id }}"
            class="button dark"
          >
            {{ "settings.account.security.accounts.link" | translate }}
          </a>
          <shared-danger-button
            *ngIf="account.is_linked"
            theme="dark"
            [message]="'settings.account.security.accounts.unlink' | translate"
            (confirm)="unlinkAccount(account)"
          >
            {{ "settings.account.security.accounts.unlink" | translate }}
          </shared-danger-button>
        </shared-popup-menu>
      </div>
    </div>
  </div>
</section>
