<shared-header></shared-header>

<main id="main-content">
  <div id="hero">
    <div>
      <div>
        <h1>{{ "home.hero.headline" | translate }}</h1>
        <p>{{ "home.hero.subheadline" | translate }}</p>
      </div>
      <a class="button fill" routerLink="/signin">
        {{ "home.hero.create_account" | translate }}
      </a>
    </div>
    <img src="assets/newspaper.svg" alt="" />
  </div>
  <div class="sections">
    <section>
      <img src="assets/trust.svg" alt="" loading="lazy" />
      <div>
        <h2>Read true stories.</h2>
        <p>
          Every article you read has gone through a thorough fact-checking
          process
        </p>
      </div>
    </section>
    <section>
      <img src="assets/privacy.svg" alt="" loading="lazy" />
      <div>
        <h2>Privacy by design.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          animi non minus, quisquam maiores voluptatum? Quisquam debitis animi
          veritatis distinctio?
        </p>
      </div>
    </section>
    <section>
      <img src="assets/support.svg" alt="" loading="lazy" />
      <div>
        <h2>Support the publishers.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          animi non minus, quisquam maiores voluptatum? Quisquam debitis animi
          veritatis distinctio?
        </p>
      </div>
    </section>
  </div>
</main>

<shared-footer></shared-footer>
