@import "~src/variables";

:host {
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 1em;
  align-items: center;
}

#hero {
  display: grid;
  grid-template-columns: 50% auto;
  align-items: center;
  gap: 3em;
  margin: 10rem 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.sections
{
  > *
  {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 2rem;
    border: none;
    width: max-content;
    max-width: calc(100vw - 2em);

    img
    {
      height: 10rem;
    }

    h2,
    p
    {
      margin: 0;
      max-width: 60ch;
    }

    h2
    {
      margin-bottom: 0.5rem;
    }

    &:nth-child(2n)
    {
      flex-direction: row-reverse;
      color: var(--primary-color);
      background-color: rgba($primary-color, 0.2);
      margin-left: auto;
    }
  }
}

@media (max-width: 1000px) {
  #hero {
    grid-template-columns: 75%;

    img {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  #hero {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 550px) {
  #hero {
    grid-template-columns: 100%;
  }

  .sections
  {
    > *,
    > *:nth-child(2n)
    {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
