<app-header></app-header>

<main>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <div class="title">
      <h1>Create an account</h1>
      <p>Already have an account? <a routerLink="/signin" class="dark">Sign In</a></p>
    </div>
    <div class="row">
      <label>
        First name
        <input
          formControlName="first_name"

          type="text"
          name="first-name"
          autocomplete="given-name"
          required
        >
        <div *ngIf="form.get('first_name')?.errors" class="errors">
          <p *ngFor="let error of form.get('first_name')?.errors?.errors">
            {{error}}
          </p>
        </div>
      </label>
      <label>
        Last name
        <input
          formControlName="last_name"

          type="text"
          name="last-name"
          autocomplete="family-name"
          required
        >
        <div *ngIf="form.get('last_name')?.errors" class="errors">
          <p *ngFor="let error of form.get('last_name')?.errors?.errors">
            {{error}}
          </p>
        </div>
      </label>
    </div>
    <label>
      Email
      <input
        formControlName="email"

        type="email"
        name="email"
        autocomplete="email"
        required
      >
      <div *ngIf="form.get('email')?.errors" class="errors">
        <p *ngFor="let error of form.get('email')?.errors?.errors">
          {{error}}
        </p>
      </div>
    </label>
    <label>
      Password
      <input
        formControlName="password"

        type="password"
        name="password"
        autocomplete="new-password"
        required
      >
      <div *ngIf="form.get('password')?.errors" class="errors">
        <p *ngFor="let error of form.get('password')?.errors?.errors">
          {{error}}
        </p>
      </div>
    </label>
    <button type="submit">
      Sign Up
    </button>
  </form>
  <img src="assets/signup.svg" alt="">
</main>
