<section>
    <div class="title">
        <h1>{{ "settings.author.publishers.__title" | translate }}</h1>
    </div>
    <div class="content">
        <div *ngIf="!authors">
            <shared-spinner></shared-spinner>
        </div>
        <div *ngIf="authors" class="list">
            <div *ngIf="authors.length === 0">
                <p>{{ "settings.author.publishers.empty" | translate }}</p>
            </div>
            <a
                *ngFor="let author of authors"

                routerLink="/p/{{ author.publisher.id }}"
            >
                <shared-img [src]="author.publisher.imageUrl" theme="dark"></shared-img>
                <p>{{ author.publisher.name }}</p>
            </a>
        </div>
    </div>
</section>
