:host
{
    display: block;
}

shared-form > ::ng-deep form
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;

    button
    {
        margin-top: 0.5em;
        width: max-content;
    }
}
