:host
{
    display: block;
    margin-bottom: 1em;
}

button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    line-height: 14px;

    img
    {
        height: 30px;
    }
}
