<div *ngIf="organization">
  <a
    *ngIf="organization.stripe_account_enabled"
    href="{{ env.endpoints.api }}/organizations/{{ organization.id }}/stripe/dashboard"
    class="button fill"
  >
    {{
      "components.stripe.connect_button.go_to_dashboard.before_img" | translate
    }}
    <img src="/assets/stripe-logo-blurple.svg" alt="Stripe" />
    {{
      "components.stripe.connect_button.go_to_dashboard.after_img" | translate
    }}
  </a>
  <a
    *ngIf="!organization.stripe_account_enabled"
    href="{{ env.endpoints.api }}/organizations/{{ organization.id }}/stripe/connect"
    class="button fill"
  >
    {{ "components.stripe.connect_button.connect" | translate }}
    <img src="/assets/stripe-logo-blurple.svg" alt="Stripe" />
  </a>
</div>
