:host
{
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 1em;
    height: calc(100vh - 2em);
    align-items: center;
}

#hero
{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    gap: 3em;

    h1
    {
        font-size: 4em;
    }

    p
    {
        font-size: 2em;
    }
}

@media (max-width: 1000px)
{
    #hero
    {
        grid-template-columns: 100%;

        img
        {
            display: none;
        }
    }
}
