<section>
    <div class="title">
        <h1>{{ "bundle.prices.add.__title" | translate }}</h1>
    </div>
    <div class="content">
        <shared-form [submitButtonText]="'generic.create' | translate" [formGroup]="form" (confirm)="onSubmit($event)">
            <label>
                {{ "bundle.prices.add.amount" | translate }}
                <input
                    formControlName="amount"

                    type="number"
                    name="amount"
                    min="0"
                    required
                >
                <div class="errors">
                    <p *ngFor="let error of form.get('amount')?.errors?.errors">
                        {{ "errors." + error.error | translate:error.params }}
                    </p>
                </div>
            </label>
            <small
                [innerHTML]="'bundle.prices.add.fee_msg' | translate"
            >
            </small>
            <label>
                {{ "bundle.prices.add.currency" | translate }}
                <select formControlName="currency">
                    <option
                        *ngFor="let currency of currencies"

                        value="{{ currency }}"
                    >
                        {{ currency.toUpperCase() }}
                    </option>
                </select>
                <div class="errors">
                    <p *ngFor="let error of form.get('currency')?.errors?.errors">
                        {{ "errors." + error.error | translate:error.params }}
                    </p>
                </div>
            </label>
        </shared-form>
    </div>
</section>
