<aside *ngIf="publisher">
    <header>
        <h1>{{ publisher.name }}</h1>
        <img *ngIf="publisher.imageUrl" [src]="publisher.imageUrl" alt="">
    </header>
    <a *ngIf="!publisher.verified" routerLink="/publisher/{{ publisher.id }}/verify" id="verify-button" class="button warning fill">
        {{ "publisher.verify.__title" | translate }}
    </a>
    <section>
        <div class="title"></div>
        <div class="content">
            <a
                routerLink="/publisher/{{ publisher.id }}/details"
                [class.selected]="section === 'details'"
            >
                {{ "publisher.details.__title" | translate }}
            </a>
            <a
                routerLink="/publisher/{{ publisher.id }}/authors"
                [class.selected]="section === 'authors'"
            >
                {{ "publisher.authors.__title" | translate }}
            </a>
        </div>
    </section>
</aside>
