@import "../../organization/menu/menu.component";

header
{
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    img
    {
        display: block;
        border-radius: 0.5rem;
        height: 100px;
    }
}

#verify-button
{
    margin-bottom: 1rem;
}
