@import "../../organization/menu/menu.component";

header
{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: flex-end;
    gap: 1rem;

    shared-img
    {
        border-radius: 0.5rem;
        height: 100px;
        width: 100px;
    }
}

aside > a
{
    margin-bottom: 1rem;
}
