<shared-header></shared-header>

<aside *ngIf="draft">
    <shared-form *ngIf="isUpdating" class="update-form" [submitButtonText]="'generic.submit' | translate" [formGroup]="updateForm" (confirm)="update($event)">
        <label>
            {{ "publisher_public_page.new_article.title" | translate }}
            <input formControlName="title" type="text">
            <div class="errors">
                <p *ngFor="let error of updateForm.get('title')?.errors?.errors">
                    {{ "errors." + error.error | translate:error.params }}
                </p>
            </div>
        </label>
        <fieldset *ngIf="sources">
            <legend>{{ "publisher_public_page.new_article.sources" | translate }}</legend>
            <div class="list">
                <div *ngFor="let source of sources; let i = index; trackBy: trackByFn" class="list-item-with-actions">
                    <input type="url" [value]="source" (input)="onSourceInput($event, i)">
                    <button type="button" (click)="sources.splice(i, 1)">
                        <span class="mat-icon">delete</span>
                    </button>
                </div>
                <button type="button" class="fill" id="add-source" (click)="sources.push('')">
                    {{ "generic.add" | translate }}
                </button>
            </div>
        </fieldset>
    </shared-form>
    <shared-danger-button
        *ngIf="isUpdating"

        size="fill"

        [message]="'generic.cancel' | translate"

        (confirm)="isUpdating = false"
    >
        {{ "generic.cancel" | translate }}
    </shared-danger-button>
    <section *ngIf="!isUpdating" class="actions">
        <div class="title">
            <h1>{{ "article.actions.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <button *ngIf="!isUpdating" class="fill" (click)="isUpdating = true">
                    {{  "generic.edit" | translate }}
                </button>
                <shared-danger-button
                    *ngIf="!isUpdating"

                    size="fill"

                    [message]="'draft.actions.submit_for_verification.message' | translate"

                    (confirm)="submitForVerification()"
                >
                    {{ "draft.actions.submit_for_verification.message.button_text" | translate }}
                </shared-danger-button>
                <shared-danger-button
                    *ngIf="!isUpdating"

                    size="fill"

                    [message]="'generic.delete' | translate"

                    (confirm)="delete()"
                >
                    {{ "generic.delete" | translate }}
                </shared-danger-button>
            </div>
        </div>
    </section>
    <section *ngIf="!isUpdating">
        <div class="title">
            <h1>{{ "article.publisher.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/p/{{ draft.author.publisher.id }}">
                {{ draft.author.publisher.name }}
            </a>
        </div>
    </section>
    <section *ngIf="!isUpdating">
        <div class="title">
            <h1>{{ "article.author.__title" | translate }}</h1>
        </div>
        <div class="content">
            <a routerLink="/a/{{ draft.author.user.id }}">
                {{ draft.author.user.full_name }}
            </a>
        </div>
    </section>
    <section *ngIf="!isUpdating" class="info">
        <div class="title">
            <h1>{{ "article.info.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div>
                <b>{{ "article.info.published" | translate }}</b>
                <p>{{ format.dateTime(draft.created_at, "datetime") }}</p>
            </div>
            <div>
                <b>{{ "article.info.updated" | translate }}</b>
                <p>{{ format.dateTime(draft.updated_at, "datetime") }}</p>
            </div>
        </div>
    </section>
</aside>

<shared-spinner *ngIf="!draft"></shared-spinner>

<main *ngIf="draft">
    <h1 *ngIf="!isUpdating" class="title">{{ draft.title }}</h1>
    <shared-editor [(content)]="draft.content" [isReadOnly]="!isUpdating"></shared-editor>
</main>
