<app-header></app-header>

<settings-menu section="organizations"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Create new organization</h1>
        </div>
        <form [formGroup]="form" (submit)="onSubmit($event)">
            <label>
                Name
                <input
                    formControlName="name"

                    type="text"
                    name="name"
                    required
                >
                <div *ngIf="form.get('name')?.errors" class="errors">
                    <p *ngFor="let error of form.get('name')?.errors?.errors">
                        {{error}}
                    </p>
                </div>
            </label>
            <button type="submit">
                Create
            </button>
        </form>
    </section>
</main>
