<app-header></app-header>

<settings-menu section="subscriptions"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Subscriptions</h1>
            <button (click)="manageSubscriptions()">Manage</button>
        </div>
        <div class="content">
            <div *ngIf="!subscriptions">
                <spinner></spinner>
            </div>
            <div>
                <subscription-list [subscriptions]="subscriptions.active"></subscription-list>
                <div *ngIf="subscriptions.inactive.length > 0">
                    <h2>Inactive</h2>
                    <subscription-list [subscriptions]="subscriptions.inactive"></subscription-list>
                </div>
                <div *ngIf="subscriptions.old.length > 0">
                    <h2>Old</h2>
                    <subscription-list [subscriptions]="subscriptions.old"></subscription-list>
                </div>
            </div>
        </div>
    </section>
</main>
