<shared-header></shared-header>

<settings-menu section="subscriptions"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.subscriptions.__title" | translate }}</h1>
            <button (click)="manageSubscriptions()">{{ "settings.account.subscriptions.manage" | translate }}</button>
        </div>
        <div class="content">
            <div *ngIf="!subscriptions">
                <shared-spinner></shared-spinner>
            </div>
            <div *ngIf="subscriptions">
                <subscription-list [subscriptions]="subscriptions.active"></subscription-list>
                <div *ngIf="subscriptions.incomplete.length > 0">
                    <h2>{{ "settings.account.subscriptions.inactive" | translate }}</h2>
                    <subscription-list [subscriptions]="subscriptions.incomplete"></subscription-list>
                </div>
                <div *ngIf="subscriptions.old.length > 0">
                    <h2>{{ "settings.account.subscriptions.old" | translate }}</h2>
                    <subscription-list [subscriptions]="subscriptions.old"></subscription-list>
                </div>
            </div>
        </div>
    </section>
</main>
