<app-header></app-header>

<settings-menu section="subscriptions"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>Subscriptions</h1>
            <button (click)="manageSubscriptions()">Manage</button>
        </div>
        <div class="content">
            <div *ngIf="!subscriptions">
                <spinner></spinner>
            </div>
            <div *ngIf="subscriptions" class="list">
                <div *ngIf="subscriptions.length === 0">
                    <p>You are not subscribed to any bundle</p>
                </div>
                <div *ngFor="let subscription of subscriptions" class="bundle">
                    <p>{{subscription.bundle.name}}</p>
                    <small>
                        <i>
                            <b>{{subscription.status}}</b>
                        </i>
                    </small>
                    <p class="price">
                        {{subscription.bundle.price / 100}}
                        <span class="currency">USD</span>
                        <span class="billing-period">/ month</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
