@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #ffffff;
$secondary-color: #4639ff;

:root
{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 1em;
    font-family: "Work Sans", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 100vh;
}
