@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "./variables";

:root
{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --link-color: #{$link-color};
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0 auto;
    padding: 1em;
    font-family: "Work Sans", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    max-width: 1300px;
}

main
{
    grid-area: main;
}

footer
{
    grid-area: footer;
}

a,
.link,
button,
input,
textarea
{
    outline: none;
}

button,
input,
textarea,
pre
{
    font-family: inherit;
}

a,
.link,
button
{
    cursor: pointer;
}

a,
.link
{
    color: var(--link-color);
    text-decoration: none;
    border-radius: 0.5rem;

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
        }
    }

    &:hover
    {
        opacity: 0.9;
    }
}

button,
.button
{
    display: block;
    font-size: 1.5em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5em 1em;
    width: max-content;
    border: none;
    border-radius: 0.5rem;
    transition: 100ms;

    &.small
    {
        font-size: 1em;
    }

    &.fill
    {
        width: 100%;
    }

    &.danger
    {
        color: white;
        background-color: orangered;
    }

    &.dark
    {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
        }
    }

    &:hover
    {
        opacity: 0.9;
    }

    &:disabled
    {
        cursor: default;
        opacity: 0.5;
    }
}

form
{
    max-width: 500px;

    .title
    {
        margin-bottom: 2em;

        h1,
        p
        {
            margin: 0;
        }

        p
        {
            margin-top: 0.5em;
        }
    }

    .row
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 1em;

        label
        {
            margin: 0;
        }
    }

    label input,
    button[type=submit]
    {
        width: 100%;
    }

    button[type=submit]
    {
        margin-top: 2em;
    }
}

label
{
    display: block;
    width: 100%;

    .label
    {
        display: block;
        margin-bottom: 0.2em;
    }

    input,
    textarea
    {
        margin-top: 0.2rem;
    }

    .errors
    {
        color: white;
        background-color: red;
        padding: 0.5em;
        border-radius: 0.5rem;
        margin-top: 0.5em;

        p
        {
            margin: 0;
        }

        &:empty
        {
            display: none;
        }
    }

    & ~ label
    {
        margin-top: 1em;
    }
}

input
{
    display: block;
    font-size: 1.5em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5em;
    width: max-content;
    border: none;
    border-radius: 0.5rem;
    transition: 100ms;

    &.dark
    {
        color: var(--primary-color);
        background-color: var(--secondary-color);

        &::placeholder
        {
            color: rgba($primary-color, 0.8);
        }
    }

    &::placeholder
    {
        color: rgba($secondary-color, 0.8);
    }

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
        }
    }

    &:hover
    {
        opacity: 0.9;
    }
}

img
{
    max-width: 100%;
}

section
{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;

    .title:not(:empty)
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        background-color: rgba($primary-color, 0.1);
        border-bottom: 1px solid var(--primary-color);

        h1
        {
            margin: 0;
        }
    }

    .title:empty + .content > :first-child
    {
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .content
    {
        > *
        {
            margin: 0;
            padding: 1em;

            &:not(:first-child)
            {
                border-top: 1px solid var(--primary-color);
            }
        }

        > a
        {
            display: block;
            color: unset;

            &.selected,
            &:focus,
            &:hover
            {
                opacity: 1;
                box-shadow: none;
                background-color: rgba($primary-color, 0.3);
            }

            &:last-of-type
            {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:not(:last-of-type)
            {
                border-radius: 0;
            }
        }
    }

    & ~ &
    {
        margin-top: 1em;
    }
}

textarea
{
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
        }
    }
}

pre
{
    white-space: pre-wrap;
    word-break: break-word;
}

div.list
{
    > *
    {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;

        p
        {
            margin: 0;

            & ~ p
            {
                margin-top: 1em;
            }
        }

        &.list-item-with-action
        {
            display: grid;
            grid-template-columns: auto max-content;
            gap: 1em;

            > :first-child
            {
                color: var(--secondary-color);
                background-color: var(--primary-color);
                padding: 1em;
            }

            .actions
            {
                display: grid;
                grid-auto-rows: auto;
                gap: 1em;
                height: 100%;

                button
                {
                    width: 100%;
                }
            }
        }

        &:not(.list-item-with-action)
        {
            color: var(--secondary-color);
            background-color: var(--primary-color);
            padding: 1em;
        }

        & ~ *
        {
            margin-top: 1em;
        }
    }
}

abbr
{
    font-weight: $semi-bold;
    text-decoration: underline;
}

hr
{
    margin: 1em 0;
}
