@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "./variables";

:root
{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --link-color: #{$link-color};
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0 auto;
    padding: 1em;
    font-family: "Work Sans", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    max-width: 1300px;
}

main
{
    grid-area: main;
}

footer
{
    grid-area: footer;
}

a,
button,
input,
textarea
{
    outline: none;
}

button,
input,
textarea,
pre
{
    font-family: inherit;
}

a
{
    color: var(--link-color);
    text-decoration: none;
    border-radius: 0.5em;

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);
        }
    }

    &:hover
    {
        opacity: 0.9;
    }
}

button
{
    font-size: 1.5em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 0.5em 1em;
    width: max-content;
    border: none;
    border-radius: 0.5em;
    transition: 100ms;

    &.small
    {
        font-size: 1em;
    }

    &.dark
    {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
        }
    }

    &:hover
    {
        opacity: 0.9;
    }
}

form
{
    max-width: 500px;

    .title
    {
        margin-bottom: 2em;

        h1,
        p
        {
            margin: 0;
        }

        p
        {
            margin-top: 0.5em;
        }
    }

    .row
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin-bottom: 1em;

        label
        {
            margin: 0;
        }
    }

    label input,
    button[type=submit]
    {
        width: 100%;
    }

    button[type=submit]
    {
        margin-top: 2em;
    }
}

label
{
    display: block;
    width: 100%;

    input
    {
        display: block;
        font-size: 1.5em;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 0.5em;
        width: max-content;
        border: none;
        border-radius: 0.5em;
        transition: 100ms;
        margin-top: 0.2em;

        &.dark
        {
            color: var(--primary-color);
            background-color: var(--secondary-color);
        }

        &:focus
        {
            box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

            &.dark
            {
                box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
            }
        }

        &:hover
        {
            opacity: 0.9;
        }
    }

    .errors
    {
        color: white;
        background-color: red;
        padding: 0.5em;
        border-radius: 0.5em;
        margin-top: 0.5em;

        p
        {
            margin: 0;
        }

        &:empty
        {
            display: none;
        }
    }

    & ~ label
    {
        margin-top: 1em;
    }
}

img
{
    max-width: 100%;
}

section
{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;

    .title
    {
        padding: 1em;
        background-color: rgba($primary-color, 0.1);

        h1
        {
            margin: 0;
        }
    }

    .content
    {
        > *
        {
            margin: 0;
            padding: 1em;
            border-top: 1px solid var(--primary-color);
        }

        > a
        {
            display: block;
            color: unset;

            &.selected,
            &:focus,
            &:hover
            {
                opacity: 1;
                box-shadow: none;
                background-color: rgba($primary-color, $alpha: 0.3);
            }

            &:last-of-type
            {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:not(:last-of-type)
            {
                border-radius: 0;
            }
        }
    }

    & ~ &
    {
        margin-top: 1em;
    }
}

textarea
{
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 0.5em;

    &:focus
    {
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.5);

        &.dark
        {
            box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.5);
        }
    }
}
