@import "../../bundle.scss";

#publishers
{
    > div
    {
        display: grid;
        grid-template-columns: auto max-content;
        gap: 1em;

        a
        {
            display: flex;
            align-items: center;
            color: var(--secondary-color);
            background-color: var(--primary-color);
            padding: 0.5em 1em;

            & ~ a
            {
                margin-top: 1em;
            }
        }
    }
}
