<app-header></app-header>

<bundle-menu section="publishers"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>Add publisher</h1>
        </div>
        <div class="content">
            <div *ngIf="!publishers">
                <spinner></spinner>
            </div>
            <div *ngIf="publishers" class="list">
                <div *ngIf="publishers.length === 0">
                    <p>You don't have any publisher to add</p>
                </div>
                <div *ngFor="let publisher of publishers" class="list-item-with-actions">
                    <a
                        routerLink="/publisher/{{publisher.id}}"
                        class="dark"
                    >
                        <p>{{ publisher.name }}</p>
                    </a>
                    <div class="actions">
                        <button (click)="addPublisher(publisher)">
                            &#43; {{ "generic.add" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
