@import "~src/variables";

:host
{
    display: block;
}

.comment
{
    padding: 1em;
    border: 1px solid rgba($primary-color, $alpha: 0.3);
    border-radius: 0.5em;

    header
    {
        .user
        {
            font-weight: $medium;
        }
    }

    pre
    {
        margin: 0;
        margin-top: 0.5em;
    }

    add-comment-form
    {
        margin-top: 1em;
    }

    footer
    {
        margin-top: 1em;
    }
}

.replies
{
    margin-top: 1em;

    .comment
    {
        margin-top: 1em;
        margin-left: 1em;
    }
}
