<div *ngIf="comment" class="comment">
    <header>
        <span class="user">
            {{ comment.user.first_name }}
            {{ comment.user.last_name }}
        </span>
        &bull;
        <small title="{{ format.dateTime(comment.created_at, 'datetime') }}">
            {{ format.dateTime(comment.created_at, "shortdate") }}
        </small>
        <span *ngIf="comment.created_at !== comment.updated_at">
            &bull;
            <small title="{{ format.dateTime(comment.updated_at, 'datetime') }}">
                {{ "components.comment_list.comment.updated_on" | translate }}
                {{ format.dateTime(comment.updated_at, "shortdate") }}
            </small>
        </span>
    </header>
    <pre>{{ comment.content }}</pre>
    <details
        *ngIf="comment.reply_count > 0"

        class="replies"

        (toggle)="loadReplies($event)"
    >
        <summary>{{ "components.comment_list.comment.replies" | translate }}</summary>
        <comment-list [article]="article" [comments]="replies"></comment-list>
    </details>
    <add-comment-form
        *ngIf="showReplyForm"

        [article]="article"
        [parent]="comment"

        (commentCreated)="onCommentCreated($event)"
    >
    </add-comment-form>
    <footer>
        <button
            class="small"

            (click)="showReplyForm = !showReplyForm"
        >
            {{
                (
                    showReplyForm
                        ? "components.comment_list.comment.actions.cancel"
                        : "components.comment_list.comment.actions.reply"
                )
                | translate
            }}
        </button>
    </footer>
</div>
