<app-header></app-header>

<settings-menu section="payment-methods"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.payment_methods.__title" | translate }}</h1>
            <button routerLink="add">
                &#43; {{ "generic.add" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!paymentMethods">
                <spinner></spinner>
            </div>
            <div *ngIf="paymentMethods" class="list">
                <div *ngIf="paymentMethods.length === 0">
                    <p>{{ "settings.account.payment_methods.empty" | translate }}</p>
                </div>
                <div
                    *ngFor="let paymentMethod of paymentMethods"

                    [ngSwitch]="paymentMethod.type"

                    class="list-item-with-actions"
                >
                    <div *ngSwitchCase="'card'">
                        <badge
                            *ngIf="paymentMethod.__metadata?.is_default"

                            [text]="'settings.account.payment_methods.default' | translate"
                        >
                        </badge>
                        <p class="brand">{{ paymentMethod.data.brand }}</p>
                        <p>
                            {{ paymentMethod.data.exp_month.toString().padStart(2, "0") }}
                            /
                            {{ paymentMethod.data.exp_year }}
                        </p>
                        <p>
                            &bull;&bull;&bull;&bull;
                            {{ paymentMethod.data.last4 }}
                        </p>
                    </div>
                    <div class="actions">
                        <button
                            [disabled]="paymentMethod.__metadata?.is_default"

                            (click)="setDefaultPaymentMethod(paymentMethod)"
                        >
                            {{ "settings.account.payment_methods.make_default" | translate }}
                        </button>
                        <danger-button
                            [text]="'settings.account.payment_methods.remove' | translate"
                            [alertText]="'settings.account.payment_methods.remove' | translate"

                            (confirm)="removePaymentMethod(paymentMethod)">
                        </danger-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
