<app-header></app-header>

<settings-menu section="payment-methods"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.payment_methods.__title" | translate }}</h1>
            <button routerLink="add">
                &#43; {{ "generic.add" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!paymentMethods">
                <spinner></spinner>
            </div>
            <div *ngIf="paymentMethods" class="list">
                <div *ngIf="paymentMethods.length === 0">
                    <p>You haven't added any payment method</p>
                </div>
                <div
                    *ngFor="let paymentMethod of paymentMethods"

                    [ngSwitch]="paymentMethod.type"

                    class="list-item-with-actions"
                >
                    <div *ngSwitchCase="'card'">
                        <p class="brand">
                            <span>{{paymentMethod.data.brand}}</span>
                            <small *ngIf="paymentMethod.__metadata?.is_default" class="default-pm-badge">
                                {{ "settings.account.payment_methods.default" | translate }}
                            </small>
                        </p>
                        <p>
                            {{paymentMethod.data.exp_month.toString().padStart(2, "0")}}
                            /
                            {{paymentMethod.data.exp_year}}
                        </p>
                        <p>
                            &bull;&bull;&bull;&bull;
                            {{paymentMethod.data.last4}}
                        </p>
                    </div>
                    <div class="actions">
                        <button
                            [disabled]="paymentMethod.__metadata?.is_default"

                            (click)="setDefaultPaymentMethod(paymentMethod)"
                        >
                            {{ "settings.account.payment_methods.make_default" | translate }}
                        </button>
                        <button (click)="removePaymentMethod(paymentMethod)">
                            &minus; {{ "settings.account.payment_methods.remove" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
