@import "../settings";

.list-item-with-action
{
    > :first-child
    {
        border-radius: 0.5rem;
    }
}

.brand
{
    display: flex;

    span:first-child
    {
        text-transform: uppercase;
    }

    .default-pm-badge
    {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        padding: 0.2em;
        border-radius: 0.2em;
        margin-left: 1em;
    }
}
