:host
{
    display: block;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;

    textarea
    {
        width: 100%;
        resize: vertical;
    }

    button
    {
        margin-top: 0.5em;
        width: max-content;
    }
}
