<form [formGroup]="form" (submit)="onSubmit($event)">
    <label>
        {{ "components.add_comment.__title" | translate }}
        <textarea formControlName="content" rows="5"></textarea>
        <div *ngIf="form.get('content')?.errors" class="errors">
            <p *ngFor="let error of form.get('content')?.errors?.errors">
                {{ "errors." + error.error | translate }}
            </p>
        </div>
    </label>
    <button type="submit" class="small">
        {{ "components.add_comment.submit" | translate }}
    </button>
</form>
