<app-header></app-header>

<bundle-menu section="prices"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>Prices</h1>
            <button routerLink="add">
                &#43; {{ "generic.add" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!prices">
                <spinner></spinner>
            </div>
            <div *ngIf="prices" class="list">
                <div *ngIf="prices.length === 0">
                    <p>You haven't added any price</p>
                </div>
                <div *ngFor="let price of prices" class="list-item-with-actions">
                    <div>
                        <small *ngIf="!price.active" class="archived-price-badge">Archived</small>
                        <p class="price">{{format.currency(price.amount, price.currency)}}</p>
                        <span>/ month</span>
                    </div>
                    <div class="actions">
                        <button (click)="archivePrice(price)">
                            Archive
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
