<app-header></app-header>

<bundle-menu section="prices"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "bundle.prices.__title" | translate }}</h1>
            <button routerLink="add">
                &#43; {{ "generic.add" | translate }}
            </button>
        </div>
        <div class="content">
            <div *ngIf="!prices">
                <spinner></spinner>
            </div>
            <div *ngIf="prices" class="list">
                <div *ngIf="prices.length === 0">
                    <p>{{ "bundle.prices.empty" | translate }}</p>
                </div>
                <div *ngFor="let price of prices" class="list-item-with-actions">
                    <div>
                        <small *ngIf="!price.active" class="archived-price-badge">
                            {{ "bundle.prices.archived" | translate }}
                        </small>
                        <p class="price">{{ format.currency(price.amount, price.currency) }}</p>
                        <span>/ {{ "bundle.prices.billing_period.month" | translate }}</span>
                    </div>
                    <div class="actions">
                        <button (click)="archivePrice(price)">
                            {{ "bundle.prices.archive" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
