@import "~src/variables";

@import "../bundle.scss";

.list-item-with-actions
{
    > div:first-child
    {
        border-radius: 0.5rem;

        .archived-price-badge
        {
            display: inline-block;
            color: var(--primary-color);
            background-color: var(--secondary-color);
            padding: 0.2em;
            border-radius: 0.2em;
            margin-bottom: 0.5em;
        }

        .price
        {
            display: block;
            font-size: xx-large;
            font-weight: $bold;

            .billing-period
            {
                font-size: large;
                font-weight: $light;
            }
        }
    }
}
