<app-header></app-header>

<bundle-menu section="prices"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>Prices</h1>
            <button routerLink="add">
                &#43; Add
            </button>
        </div>
        <div class="content">
            <div *ngIf="!prices">
                <spinner></spinner>
            </div>
            <div *ngIf="prices" class="list">
                <div *ngIf="prices.length === 0">
                    <p>You haven't added any price</p>
                </div>
                <div *ngFor="let price of prices" class="list-item-with-action">
                    <div>
                        <span class="price">
                            {{getDisplayAmount(price)}}
                            <span class="currency">{{price.currency.toUpperCase()}}</span>
                            <span class="billing-period">/ month</span>
                        </span>
                        <small *ngIf="!price.active" class="archived-price-badge">Archived</small>
                    </div>
                    <div class="actions">
                        <button (click)="removePrice(price)">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
