<header>
  <a routerLink="/">nuntium</a>
  <button class="dark" routerLink="/signin">
    Sign In
  </button>
</header>

<main>
  <div id="hero">
    <div>
      <h1>A fact-checked news-only social network</h1>
      <p>The reliability of newspapers with the scale of the Internet</p>
      <button id="sign-up">
        Create an account
      </button>
    </div>
    <img src="/assets/newspaper.svg" alt="">
  </div>
</main>

<footer>
  <p>&copy; 2021 - Alex Sandri</p>
</footer>

<router-outlet></router-outlet>