:host
{
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

main
{
    max-width: 1300px;
}

#hero
{
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 3em;
    gap: 3em;

    h1
    {
        font-size: 4em;
    }

    p
    {
        font-size: 2em;
    }

    img
    {
        max-width: 100%;
    }
}

#sign-up
{
    width: 100%;
}