:host
{
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100%;
    align-items: center;
}

#hero
{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    margin-top: 3em;
    gap: 3em;

    h1
    {
        font-size: 4em;
    }

    p
    {
        font-size: 2em;
    }
}

#sign-up
{
    width: 100%;
}