<app-header></app-header>

<settings-menu section="advanced"></settings-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "settings.account.advanced.delete_account.__title" | translate }}</h1>
        </div>
        <div class="content">
            <div class="delete-account">
                <div>
                    <h3>{{ "settings.account.advanced.delete_account.meaning.__title" | translate }}:</h3>
                    <ul>
                        <li *ngFor="let item of 'settings.account.advanced.delete_account.meaning.items' | translate">
                            {{ item }}
                        </li>
                    </ul>
                    <h3>{{ "settings.account.advanced.delete_account.conditions.__title" | translate }}:</h3>
                    <ul>
                        <li *ngFor="let item of 'settings.account.advanced.delete_account.conditions.items' | translate">
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <button class="danger" (click)="deleteAccount()">
                    {{ "settings.account.advanced.delete_account.delete" | translate }}
                </button>
            </div>
        </div>
    </section>
</main>
