<shared-header></shared-header>

<bundle-menu section="details"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>{{ "bundle.details.__title" | translate }}</h1>
        </div>
        <div class="content">
            <form [formGroup]="detailsForm" (submit)="onDetailsFormSubmit($event)">
                <label>
                    {{ "bundle.details.name" | translate }}
                    <input
                        formControlName="name"

                        type="text"
                        name="name"
                        required
                    >
                    <div *ngIf="detailsForm.get('name')?.errors" class="errors">
                        <p *ngFor="let error of detailsForm.get('name')?.errors?.errors">
                            {{ "errors." + error.error | translate:error.params }}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    {{ "generic.update" | translate }}
                </button>
            </form>
        </div>
    </section>
</main>
