<app-header></app-header>

<bundle-menu section="details"></bundle-menu>

<main>
    <section>
        <div class="title">
            <h1>Details</h1>
        </div>
        <div class="content">
            <form [formGroup]="detailsForm" (submit)="onDetailsFormSubmit($event)">
                <label>
                    Name
                    <input
                        formControlName="name"

                        type="text"
                        name="name"
                        required
                    >
                    <div *ngIf="detailsForm.get('name')?.errors" class="errors">
                        <p *ngFor="let error of detailsForm.get('name')?.errors?.errors">
                            {{error}}
                        </p>
                    </div>
                </label>
                <label>
                    Price (USD)
                    <input
                        formControlName="price"

                        type="number"
                        name="price"
                        required
                    >
                    <div *ngIf="detailsForm.get('price')?.errors" class="errors">
                        <p *ngFor="let error of detailsForm.get('price')?.errors?.errors">
                            {{error}}
                        </p>
                    </div>
                </label>
                <button type="submit">
                    Update
                </button>
            </form>
        </div>
    </section>
</main>
