@import "~src/layouts/default";

@import "~src/variables";

aside {
  > h1:first-child {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: xx-large;
  }

  .update-form {
    margin-bottom: 1rem;
  }

  .actions {
    > * {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .info {
    p {
      margin: 0;
      margin-top: 0.5em;
    }
  }
}

::ng-deep .list-item-with-actions {
  input {
    width: 100%;
  }
}

main {
  .rejection
  {
    color: black;
    background-color: var(--link-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    h1,
    pre
    {
      margin: 0;
    }

    h1
    {
      margin-bottom: 1rem;
    }

    pre
    {
      color: var(--primary-color);
      background-color: var(--secondary-color);
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  .sources {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--primary-color);

    p:first-child {
      font-weight: $medium;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .empty
    {
      margin: 0;
    }

    ol {
      margin: 0;
    }
  }
}

#add-source {
  padding: 0.5em 1em;
}
