<section>
    <div class="title">
        {{ "explore.trending" | translate }}
    </div>
    <div class="content">
        <shared-spinner *ngIf="!trendingArticles"></shared-spinner>
        <shared-article-list
            *ngIf="trendingArticles && trendingArticles.length > 0"

            [articles]="trendingArticles"
        >
        </shared-article-list>
    </div>
</section>
<section>
    <div class="title">
        {{ "explore.recently_viewed" | translate }}
    </div>
    <div class="content">
        <shared-spinner *ngIf="!recentlyViewedArticles"></shared-spinner>
        <shared-article-list
            *ngIf="recentlyViewedArticles && recentlyViewedArticles.length > 0"

            [articles]="recentlyViewedArticles"
        >
        </shared-article-list>
    </div>
</section>
