<app-header></app-header>

<aside>
    <a
        routerLink="account"
        [class.selected]="section === 'account'"
        (click)="setSection('account')"
    >
        Account
    </a>
    <a
        routerLink="organizations"
        [class.selected]="section === 'organizations'"
        (click)="setSection('organizations')"
    >
        Organizations
    </a>
</aside>

<main>
    <section *ngIf="section === 'account'">
        <div class="title">
            <h1>Account</h1>
        </div>
        <form [formGroup]="updateAccountDetailsForm" (submit)="onUpdateAccountDetailsFormSubmit($event)">
            <div class="row">
                <label>
                    First name
                    <input
                    formControlName="first_name"

                    type="text"
                    name="first-name"
                    autocomplete="given-name"
                    required
                    >
                    <div *ngIf="updateAccountDetailsForm.get('first_name')?.errors" class="errors">
                        <p *ngFor="let error of updateAccountDetailsForm.get('first_name')?.errors?.errors">
                            {{error}}
                        </p>
                    </div>
                </label>
                <label>
                    Last name
                    <input
                    formControlName="last_name"

                    type="text"
                    name="last-name"
                    autocomplete="family-name"
                    required
                    >
                    <div *ngIf="updateAccountDetailsForm.get('last_name')?.errors" class="errors">
                        <p *ngFor="let error of updateAccountDetailsForm.get('last_name')?.errors?.errors">
                            {{error}}
                        </p>
                    </div>
                </label>
            </div>
            <label>
                Email
                <input
                    formControlName="email"

                    type="email"
                    name="email"
                    autocomplete="email"
                    required
                >
                <div *ngIf="updateAccountDetailsForm.get('email')?.errors" class="errors">
                    <p *ngFor="let error of updateAccountDetailsForm.get('email')?.errors?.errors">
                    {{error}}
                    </p>
                </div>
            </label>
            <button type="submit">
                Update
            </button>
        </form>
    </section>
    <section *ngIf="section === 'organizations'">
        <div class="title">
            <h1>Organizations</h1>
            <button>
                &#43; Create
            </button>
        </div>
        <div id="organizations">
            <a routerLink="/organizations/ORGANIZATION_ID" class="dark">
                <img src="https://via.placeholder.com/600x350/24f355" alt="ORGANIZATION_NAME logo">
                <p>Test Organization</p>
            </a>
            <a routerLink="/organizations/ORGANIZATION_ID" class="dark">
                <img src="https://via.placeholder.com/600/568915" alt="ORGANIZATION_NAME logo">
                <p>Test Organization 1</p>
            </a>
        </div>
    </section>
</main>
