@import "../../variables.scss";

:host
{
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 30% auto;
    grid-template-areas:
        "header header"
        "aside main";
    gap: 1em;
    height: 100%;
}

main
{
    .title
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#organizations
{
    gap: 15px;
    margin-top: 15px;

    > *
    {
        display: block;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-radius: 0.5em;
        padding: 0.5em 1em;
        width: 100%;

        & ~ a
        {
            margin-top: 1em;
        }
    }
}

aside
{
    grid-area: aside;

    a
    {
        display: block;
        color: unset;
        padding: 1em;
        border: 1px solid var(--primary-color);

        &.selected,
        &:focus,
        &:hover
        {
            opacity: 1;
            box-shadow: none;
            background-color: rgba($primary-color, $alpha: 0.3);
        }

        &:first-child
        {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child
        {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:first-child):not(:last-child)
        {
            border-radius: 0;
        }

        & ~ a
        {
            border-top: 0;
        }
    }
}
