@import "../../variables.scss";

:host
{
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 30% auto;
    grid-template-areas:
        "header header"
        "aside main";
    gap: 1em;
    height: 100%;
}

.setting
{
    .title
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#organizations
{
    gap: 15px;
    margin-top: 15px;

    a
    {
        display: flex;
        align-items: center;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 0.5em 1em;

        img
        {
            object-fit: cover;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin-right: 1em;
        }

        & ~ a
        {
            margin-top: 1em;
        }
    }
}

aside
{
    grid-area: aside;

    a
    {
        display: block;
        color: unset;
        padding: 1em;
        border: 1px solid var(--primary-color);

        &.selected,
        &:focus,
        &:hover
        {
            opacity: 1;
            box-shadow: none;
            background-color: rgba($primary-color, $alpha: 0.3);
        }

        &:first-child
        {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child
        {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:first-child):not(:last-child)
        {
            border-radius: 0;
        }

        & ~ a
        {
            border-top: 0;
        }
    }
}

@media (max-width: 800px)
{
    :host
    {
        grid-template-rows: max-content max-content auto;
        grid-template-areas:
            "header header"
            "aside aside"
            "main main";
    }
}
