<app-header></app-header>

<aside>
    <a routerLink="account">Account</a>
    <a routerLink="organizations">Organizations</a>
</aside>

<main>
    <div class="title">
        <h1>Organizations</h1>
        <button>
            &#43; Create
        </button>
    </div>
    <div id="organizations">
        <a routerLink="/organizations/ORGANIZATION_ID" class="dark">
            <p>Test Organization</p>
        </a>
        <a routerLink="/organizations/ORGANIZATION_ID" class="dark">
            <p>Test Organization 1</p>
        </a>
    </div>
</main>
